[2012-10-29 19:23] ethanrublee opened #1 "BVHModel<T> is not assignable with default assignment operator"
The BVHModel<T> class has a default assignment operator which causes shallow copy of all members.  This causes a double free.

[code]

Suggest either implementing assignment operators, or make `operator=` private to prevent compilation.

[2012-12-13 02:42] joschu opened #2 "box-box collision algorithm returns nans"
when faces are parallel
http://pastebin.com/XpCH6T4E
penetration depth is correct

[2012-12-13 09:50] #1 closed, assigned to nobody

[2013-01-17 17:30] afabri opened #4 "building on windows"
Running cmake .   in the fcl root directory
didn't work on Windows as PKG_CONFIG_FOUND is false.
and as find_path ccd.h doesn't find this file (nor did I).

[2013-01-28 10:41] #4 closed, assigned to nobody

[2013-01-28 10:44] afabri opened #5 "shared lib"
nmake fcl    builds fcl.dll but no fcl.lib  on Windows/VC++

My guess is that the "declspec export" stuff is missing.
The temporary solution is to build the static version of fcl.

[2013-01-28 10:53] afabri opened #6 "Makefile"
The file   fcl/Makefile is under version control. It should be removed as it gets generated by cmake, and you see differences with it when you   call git diff.

[2013-01-28 10:55] afabri opened #7 "missing documentation"
There are doxygen style comments in the header files.
Could you add a Doxyfile, for example the one that was used to produce
http://gamma.cs.unc.edu/FCL/fcl_docs/webpage/generated/annotated.html

[2013-01-28 18:46] #6 closed, assigned to nobody

[2013-01-28 23:08] #2 closed, assigned to panjia1983

[2013-01-28 23:20] aleeper opened #8 "Consistent directionality of normals for mesh-mesh collision detection"
I sent some emails about this a long time ago, but I figured it's worth documenting with a ticket :)

In any case, is there (supposed to be) a standard that says, given a contact result between object #1 and object #2, whether the provided normal points from 1 to 2, or from 2 to 1?

In MoveIt!, it seems that robot-robot collision results are ambiguous as to the direction of the normal. This may be

[2013-01-28 23:38] #5 closed, assigned to nobody

[2013-02-20 04:17] davetcoleman opened #9 "Segfaults with netbooks using MoveIt - SSE Issue"
Running the MoveIt Setup Assistant on a Netbook segfaults after loading the robot into the planning the scene. The back trace of the crash is traced to FCL. Talking with @isucan we believe the issue is likely a SSE issue that the netbook does not support. What can we do to fix this? Thanks!

gdb backtrace:

[code]

[2013-04-25 13:55] isucan opened #12 "segfault when using a Plane in collision detection"
When a plane is added to a collision world in moveit (where an octree also exists), fcl segfaults.

[code]

[2013-09-19 04:20] jslee02 opened #15 "Multiple contact points for primitive shapes"
I'm Jeongseok Lee a member of DART development team. DART is powered by FCL for rigid body collision detection. We are trying to fully utilize FCL.

DART is using meshes for primitive shapes and now we want to use FCL's primitive shapes to reduce the computational cost and get analytical contact results. We however have an issue that FCL returns only one contact point for primitive shape collision

[2013-10-29 15:19] JMLambert opened #17 "Distance to collision normal vector"
When checking for collision using Collision Result, the distance to nearest collision is provided as information. However, the normal vector along that distance is not available. This would be valuable information in detecting collisions prior to their occurence.

[2013-12-24 08:28] florent-lamiraux opened #20 "Failure in building mesh using fcl::BVHModel< fcl::OBB >::addVectex"
I try to build a mesh using the following naive procedure
[code]
This does not works since method beginModel sets ```build_state``` member of mesh
to ```BVH_BUILD_STATE_BEGUN``` and method ```addVertex``` expects BVH_BUILD_STATE_UPDATE_BEGUN as value for ```build_state```.

I noticed that addVertex is not used in tests. Did I do something wrong ?

[2014-01-07 10:19] ljmanso opened #22 "Minor documentation typo"
Line 50 of README.md:
typedef BVHModel<OBBRSS>* Model;

should be:
typedef BVHModel<OBBRSS> Model;

[2014-01-10 08:30] JunghwanLee opened #23 "error in MSVC"
'__declspec' should be placed before the function definition in MSVC.

[2014-02-11 10:02] remod opened #24 "Capsule - Halfspace intersect error"
Hi!

First I'd like to thank you very much for the helpful collision library. I'm using it for a walking robot simulation.

I think there is an error in the capsuleHalfspaceIntersect function in narrowphase.cpp.
In my opinion,

if(cosa < halfspaceIntersectTolerance<FCL_REAL>())

should be replace by

if(std::abs(cosa) < halfspaceIntersectTolerance<FCL_REAL>())

Have a good day and thank you very m

[2014-02-16 02:15] #24 closed, assigned to nobody

[2014-02-17 21:26] mamoll opened #25 "broken unit tests"
in 0.3.0 the following two unit tests are broken: test_fcl_broadphase and test_fcl_shape_mesh_consistency. In the first one there might some sort of memory corruption.

[2014-03-27 20:48] mamoll opened #28 "fcl does not compile with libccd 2.0"
simplex.h is no longer installed. This header is included by fcl/src/narrowphase/gjk_libccd.cpp. Part of the code in that file seems to have originated in libccd. That code was removed from libccd because it wasn't properly tested (see https://github.com/danfis/libccd/commit/46391af7309e90f9dc009d2966790318d8aea735). Maybe gjk_libccd.cpp should be removed from fcl?

[2014-04-17 08:37] remod opened #29 "Bug in sphereTriangleIntersect()"
Hi there!

I think I found a bug in sphereTriangleIntersect() in narrowphase.cpp:

Somewhere in the middle of the function

[code]

gets called in the in if statement. The function however has the interface

[code]

So the center and normal argument in the call should be switched. In my simulation, this bug leads to the effect that small spheres fall through large triangles, only colliding with th

[2014-04-22 11:23] #29 closed, assigned to nobody

[2014-05-02 15:46] #28 closed, assigned to nobody

[2014-05-29 21:02] florent-lamiraux opened #31 "Bug in distance computation between capsule and box"
There seems to be a bug in the distance computation between capsules and boxes.
I tried to track it but failed to understand what is going on in the internals of gjk_libccd.

I reproduced the bug in a unit test that I will provide in a pull request.

[2014-05-31 11:06] aorthey opened #35 "Default Normalization of Quaternion"
This is probably a fellow up to
https://github.com/flexible-collision-library/fcl/pull/26

I would like to remove the possibility of assigning non-normalized quaternions, since they are not used in this context anyway, and i am running into rounding errors when running long enough (i.e. quaternions become unnormalized after time and crash my program).

I therefore removed the explicit initiation o

[2014-06-04 14:30] florent-lamiraux opened #38 "Collision detection between meshes"
I am testing collision detection between meshes using a model of PR2 robot with 312 pairs of collision. I am using the main API function

[code]

and it takes several seconds for each configuration. I checked using gdb and found that the collision test between two "BVHmodel" seems to
1. copy the meshes (vertices and triangles : BVH_model.cpp:58) and
2. compute the position of each vertex in global

[2014-06-05 13:53] #38 closed, assigned to nobody

[2014-07-24 03:15] aswinthomas opened #39 "FCL compilation error with ros"
Hi all,
I have the following error. All I did was do find_package(FCL REQUIRED) in my CMakeLists.txt.

CMake Error at /opt/ros/hydro/share/fcl/fcl-config.cmake:103 (message):
  Project 'fcl' specifies 'include' as an include dir, which is not found.
  It does not exist in 'include'.  Ask the maintainer 'Ioan Sucan
  <isucan@willowgarage.com>' to fix it.

Any ideas how to fix this?

Regards
Aswin

[2014-08-04 00:25] mkoval opened #40 "Documentation for computeAABB()"
I spent a few hours debugging poor performance of FCL on some mesh models and realized that the broad-phase check wasn't pruning any pairs of geometries. I eventually tracked the problem down to incorrect AABBs on my `CollisionObject`s. It turns out that I wasn't calling `computeAABB` after changing the pose of my geometries, so the broad-phase check considered them all to be overlapping at the or

[2014-11-25 13:14] Zera- opened #41 "Segfault when calling DynamicAABBTreeCollisionManager::registerObjects with empty vector"
I am trying to integrate FCL into an existing scenegraph-system, that internally manages multiple levels of object-grouping. In order to use the broadphase algorithms of FCL I fill instances of fcl::DynamicAABBTreeCollisionManager for each grouping.

During the creation of a higher-level grouping I then attempt to add the list of collision objects in the subgroup that is currently empty.

The mana

[2015-01-28 08:08] roderick1980 opened #43 "Registering objects dinamically"
Hello,
please I'd like to know whether the library allows adding and deleting objects dinamically; for example, registering 1000 objects at the beginning and during execution deleting 10 objects and then adding 20 objects and such.

Thanks in advance!

[2015-02-04 19:40] hsu commented on #15
Looks like a very useful API update for simulation. @isucan, could this go into next FCL release?
@jslee02 has some work to PR here.

[2015-02-06 16:00] isucan commented on #15
I agree, this would be a great change to have. I would happily merge such a PR.

[2015-03-04 19:36] hsu opened #44 "Add Travis CI"
create pull request to enable CI [currently working in dartsim fork](https://travis-ci.org/dartsim/fcl/jobs/53086132#L447)

@jslee02

[2015-03-04 19:45] hsu opened #45 "Add ellipsoid support in FCL"

[2015-03-05 04:26] jslee02 commented on #25
**test_fcl_broadphase** and **test_fcl_shape_mesh_consistency** seems to work now but [other 4 tests are failing](https://travis-ci.org/dartsim/fcl/jobs/53141229#L882). As a side note, **test_fcl_simple** doesn't work on only debug mode.

[2015-03-05 04:43] jslee02 commented on #44
Pull request #46 was created for this.

[2015-03-05 09:21] jslee02 commented on #15
Pull request #47 was created for this issue.

[2015-03-16 14:39] SchneiderDaniel opened #55 "Error in matrix_3f.h"
The function isIdentity() in matrix_3f.h returns a false value:
Current:
  inline bool isIdentity () const
  {
    return
      data (0,0) == 1 && data (0,1) == 0 && data (0,2) == 0 &&
      data (0,0) == 0 && data (0,1) == 1 && data (0,2) == 0 &&
      data (0,0) == 0 && data (0,1) == 0 && data (0,2) == 1;
  }
 Should be:
  inline bool isIdentity () const
  {
    return
      data (0,0) == 1 && d

[2015-03-16 18:51] #55 closed

[2015-03-16 18:51] mamoll commented on #55
Fixed in ea6ccd8

[2015-04-05 09:29] jslee02 commented on #44
I believe this is resolved by #49.

[2015-04-06 01:34] jslee02 opened #57 "Halfspace is not supported by main collision interface"
`Halfspace` is one of primitive shapes of FCL but it's not registered to the collision matrix. So it can't be used through `collide(~)`, which is the main collision interface.

[2015-04-07 05:38] #44 closed

[2015-04-16 22:38] jslee02 commented on #41
A pull request #64 was created to solve this issue.

[2015-04-16 22:47] jslee02 commented on #8
I found that
* [the provided normal direction of FCL should points from 1 to 2](https://github.com/flexible-collision-library/fcl/blob/master/include/fcl/collision_data.h#L80)
* mesh-mesh normal returns normal in that way
* shape-[shape/mesh] returns reversed normal direction, which points from 2 to 1

Pull request #61 should fix this inconsistency.

What I'm wondering is whether mesh-mesh collisi

[2015-04-24 20:56] jslee02 commented on #41
I believe this issue is fixed by #64.

[2015-04-24 20:56] #41 closed

[2015-04-24 22:43] jslee02 commented on #12
First, FCL calls GJK solver when there is no template specialization of the `GJKSolver_libccd::shapeIntersect()` for shape collision. However, there is `GJKSolver_libccd::shapeIntersect<Cylinder, Plane>()` that calls specific collision algorithm for cylinder-plane instead of GJK solver for cylinder-plane so it shouldn't returns NULL pointer.

The problem arises when the order of collision object p

[2015-04-24 22:43] #12 closed

[2015-04-24 23:16] jslee02 commented on #20
It seems it's a typo to me so `addVertex` should expect `BVH_BUILD_STATE_BEGUN`.

One caveat is that `addTriangle` must be used to add triangles to the BVH model instead of `addVertex` under the current API. It seems `addVertex` is for point cloud models, and [FCL doesn't expect the case of mixed use of `addVertex` and `addTriangle`](https://github.com/flexible-collision-library/fcl/blob/master/in

[2015-04-24 23:28] jslee02 commented on #22
I think it should be either
[code]
or
[code]

I guess the author meant the first one by typedef'ing OBBRSS model as the default model.

[2015-05-01 15:11] jslee02 commented on #23
I believe this issue is fixed by #65.

[2015-05-01 15:11] #23 closed

[2015-05-01 17:19] #22 closed

[2015-05-01 19:07] jslee02 commented on #31
Looks like this has been resolved by #33.

[2015-05-01 19:07] #31 closed

[2015-05-03 20:03] jslee02 opened #67 "Failure in building point cloud models for OBB/RSS/kIOS/OBBRSS"
FCL causes segfault in building point cloud model as:

[code]

The main reason of the segfault is that the bvh models don't handle triangle indices correctly.

Also, some tests for point cloud models are needed since there is none.

[2015-05-07 19:15] #57 closed

[2015-05-07 20:35] #20 closed

[2015-05-08 16:22] jslee02 commented on #8
I believe this is resolved by #61. Please let me know or reopen this issue if it's not.

[2015-05-08 16:22] #8 closed

[2015-05-26 13:16] jf--- opened #70 "python wrappers"
Hi,

There is a [cython wrapper](https://github.com/neka-nat/python-fcl) for FCL, based on cython.
I've [forked & extended the project](https://github.com/jf---/python-fcl) ( the original project has been abandoned / the original author is not very reactive ) such to include BVHModel. The latter makes the wrappers quite useful actually, and performance is excellent.

I'm curious to know whether th

[2015-05-26 17:58] scpeters opened #71 "OSX test failure: test_fcl_geometric_shapes with libccd"
I'm seeing some failures of `test_fcl_geometric_shapes` on OS X ([details here](https://gist.github.com/scpeters/3d1d2afc7ecb434b9b84)). Many of the test failures reference libccd. I'm using libccd 2.0 from homebrew.

[2015-06-08 22:53] ricardoglc commented on #67
It seems this is caused by an error in BVHModel<BV>::endModel(). The member tri_indices is supposed to be NULL when point clouds are used, however it's being initialized even when num_tris is zero.

[2015-06-09 09:18] jf--- commented on #70
bump

[2015-06-10 00:16] ricardoglc commented on #67
I've submitted a patch, but even though it solves that specific problem, those BVHs still cannot be used for point cloud collision checking. There is no support for mesh x shape collision with point clouds as you can see in traversal_node_setup.h:

  if(model2.getModelType() != BVH_MODEL_TRIANGLES)
    return false;

[2015-06-15 21:43] ricardoglc opened #73 "fcl::OcTree does not expose underlying octomap::OcTree interface"
Currently, there is no way to set or update the point cloud in fcl::OcTree since it does not expose the octomap::OcTree interface. The only workaround is to store the octomap pointer externally and pass it as an argument to the ctor of fcl::OcTree during its creation, but that's not practical. I believe a better way would be adding the method getTree() to fcl::OcTree, which would return the privat

[2015-07-17 10:18] totomatix opened #75 "Seg fault when checking for collisions"
Hy everyone !

I'm working on an application which has for aim to stop a robot if an obstacle appears in the middle of his trajectory during the execution. I use ROS Hydro and MoveIt! .
To do so, I use the planned trajectory to get the future states of the robot, and I check if there are collisions with the environment. If there are I stop the execution.
It works most of the time but sometimes it

[2015-08-02 22:33] lorinma commented on #70
This is very interesting.
However,
the conda package can't find flann to install?
the python-fcl repo can be built with fcl-0.3.1, but the example.py throw a segmentation fault 11.
any idea?

[2015-08-03 14:55] jf--- commented on #70
hi @lorinma ,

if you take a look on [binstar](https://binstar.org/search?q=platform%3Aosx-64+flann) you can find the lib your looking for. sometimes you need to add a channel ( edit your ~/.condarc ). also you can install directly from another conda channel like so: [conda install -c https://conda.binstar.org/dougal flann](https://binstar.org/dougal/flann)

[2015-08-03 15:07] lorinma commented on #70
Dear Jelle,

Yes,  I've used conda for a while. I already installed the flann package
you sent, still got error when install your package:

Error: Could not find some dependencies for python-fcl: flann

You can search for this package on Binstar with

binstar search -t conda flann.

I also compiled your python-fcl repo by my self, no compiling error, but
got segmentation fault 11 error when run th

[2015-08-14 05:54] EdsterG opened #76 "Box-Cylinder and Box-Sphere collisions give incorrect point/normal"
Box-Cylinder, Box-Sphere, Box-Mesh all return incorrect points of collision and incorrect normals.

Box-Cylinder and Box-Sphere occasionally return the correct normal.

[2015-08-17 12:59] blackcoder opened #77 "Question: Surface of contact ?"
Is it possible to use fcl to find the surface of contact between to 3D models. To explain a bit more, if I have a 3D mesh for an object, and I simulate the FOV of a sensor similar to kinect at a known position (Quadrahedron with known dimensions, position and orientation) , can I find out which surface on that 3D mesh will be exposed by the FOV ?

[2015-08-17 18:58] EdsterG commented on #77
I don't think FCL can do what you're looking for. You might want to checkout VTK (The Visualization Toolkit). It can read many different file types so you can easily load your model and run the following example code to get the visible vertices and the visible surface respectively:
http://www.vtk.org/Wiki/VTK/Examples/Cxx/PolyData/SelectVisiblePoints
http://www.vtk.org/Wiki/VTK/Examples/Cxx/Filter

[2015-08-18 08:06] blackcoder commented on #77
@EdsterG  thank you !
I will look into these examples, I might also check CGAL too, but I was trying to avoid using very bloated libraries and fcl seemed like a good candidate.

[2015-09-09 11:53] Randa-Almadhoun opened #78 "mesh and box collision"
Hi,
I'm trying to check if there is a collision between a mesh model and a Box of volume 1 located at specific point,
The problem I'm facing is that when the Box is located inside the mesh, the collision function returns false (no collision).

Here is the code used for the collision check:
//loading the mesh.obj
std::vector<Vec3f> p1;
std::vector<Triangle> t1;
loadOBJFile("mesh.obj", p1, t1);
BVHM

[2015-09-21 19:38] helenol opened #79 "Continuous Collisions with octree?"
Hi!
I'd love to use FCL to do continuous collision checking with a cylinder (quadrotor model approximation) and an octree, but get an error about it not being implemented for those two types.
Are there plans to implement octree vs. basic geometric shapes for continuous collisions? Or is it already implemented and I'm doing something wrong?

Thanks so much for the help!

[2015-10-21 05:58] jslee02 commented on #71
This should be addressed by #52.

[2015-10-26 21:51] jslee02 opened #82 "FCL logo"
As FCL still doesn't have a logo, I would like to propose one:

<img src="https://cloud.githubusercontent.com/assets/4038467/10743178/d546df8a-7c07-11e5-81cb-c01f64d54cbd.png" alt="FCL logo" width="250" />

The three letters, "FCL", are laid on each invisible layers in a cube. "C" letter is colored by red to emphasize **collision** and to indicate it is colliding with other two letters.

[2015-10-26 21:52] isucan commented on #82
This looks really cool! I like it!

[2015-10-30 02:38] jslee02 commented on #82
Thanks @isucan ! I would like to use this logo for [`flexible-collision-library` organization](https://github.com/flexible-collision-library) as a first step if others also agree. :smile:

[2015-11-22 07:17] #15 closed

[2015-12-05 10:03] jslee02 commented on #45
This feature is added by #51.

[2015-12-05 10:03] #45 closed

[2015-12-05 10:28] jslee02 commented on #25
The current master branch passes all the unit tests so I believe this issue is addressed. Please reopen if it's not.

[2015-12-05 10:28] #25 closed

[2015-12-10 11:23] cyberguijarro opened #83 "Cone transformations"
Hi,

when positioning a Cone shape at (0,0,0), is the cone's base or apex at (0,0,0)?
when rotating a Cone shape, does it rotate around the base or the apex?

Thanks!

[2015-12-10 11:39] jslee02 commented on #83
[According to the COM computation](https://github.com/flexible-collision-library/fcl/blob/master/include/fcl/shape/geometric_shapes.h#L261), it seems the origin of a cone is at the mid point of the cone's base and apex (note that a cone's COM is at the 1/4 height from the base). So (0, 0, 0) refers to the origin, and the Cone rotates around the origin as well.

[2015-12-10 16:46] cyberguijarro commented on #83
Seems correct. Thanks a lot jslee02.

[2015-12-10 20:05] jslee02 commented on #83
Your welcome. I'm closing this issue. Please reopen if needed.

[2015-12-10 20:05] #83 closed

[2015-12-14 19:32] karenliu commented on #82
It looks awesome!

[2016-01-05 04:41] jpgr87 opened #86 "Copyright headers missing from files"
The following files from the fcl-0.3.2 release contain no copyright headers:

[code]

Please consider adding proper copyright headers to the aforementioned files.

[2016-01-15 19:34] jslee02 opened #91 "Release 0.4.0"
Could we release 0.4.0? It would enable DART to utilize FCL's primitive shape support with the patches applied after 0.3.2. [Here](https://github.com/flexible-collision-library/fcl/issues?utf8=%E2%9C%93&q=milestone%3A%22FCL+0.4%22) is the list of issues and pull requests for 0.4.0.

If possible, it would be nice to submit 0.4.0 to Debian for Ubuntu Xenial.

[2016-01-21 14:03] jslee02 commented on #91
FCL 0.4 is [released](https://github.com/flexible-collision-library/fcl/releases/tag/0.4.0). @j-rivero Could we submit FCL 0.4 to Debian? Please let me know if I can assist you on this.

[2016-02-02 11:52] ffozma opened #93 "Collision Initialization error between PointCloud and Mesh/Shapes/PointClouds"
Segfault when colliding a PointCloud with a Mesh/Shape in (traversal_recurse.cpp, line 45):

`
  bool l1 = node->isFirstNodeLeaf(b1);`

In collide() from BVHShapeCollider (collision_func_matrix.cpp, line 246):

[code]
initialize() returns false when the mesh is of model type BVH_MODEL_POINTCLOUD for most combinations:

[code]

However, fcl::colide(&node) still runs without acknowledging the initia

[2016-03-11 17:11] dionysiusmarquis opened #95 "OSX: duplicate symbols for architecture x86_64"
Hi,

is it possible to compile fcl for OSX. I'm able to `cmake` but trying to `make` inside the `build` folder or includeing the source inside my xcode project gives me `duplicate symbols for architecture x86_64` compile error. I used the `install_osx.sh` script to install the depenndencies.

Versions:
OSX 11.11.3
Boost 1.60.0
cmake 3.4.3
libccd 2.0

[code]

[2016-03-11 17:26] dionysiusmarquis commented on #95
Ok don't know why exactly but i had another `fcl` folder inside my `src` folder including the src files. That fixed it.

[2016-03-11 17:26] #95 closed

[2016-03-16 13:23] jmirabel opened #96 "Using the Eigen library for math operations"
Hello,

I have experimented integrating the [Eigen](http://eigen.tuxfamily.org) library and I'm wondering whether you are interested in the resulting code.
Below are more details.

# Motivation
The greatest advantage in using Eigen in FCL is that it avoids creating non-necessary temporary matrices (and vectors). The following code:
[code]
is, with FCL vectors, compiled as:
[code]
whereas, with Eig

[2016-03-17 16:59] michaelaeriksen commented on #78
I have the same problem, did you find a solution?

[2016-03-19 00:29] sherm1 opened #97 "TRI is considering investing in FCL development"
The new Toyota Research Institute would like to support development of a robust, accurate, and high-performance open source collision library that would be useful for our needs in high-accuracy simulation and motion planning, as well as for the community at large. Currently we're thinking FCL may be the best place to start.

Questions to FCL maintainers and community:
- do you agree that FCL would

[2016-03-19 00:50] isucan commented on #97
This is excellent news!
For your questions:
1: I believe FCL is the best place for this, yes.
2: This is a longer discussion, but I think we can build a list of TODOs by inspecting / trying to add extra docs & unit tests. An e-mail to moveit-users / ros-users would be a good idea to see what features people use or would like to have. Benchmarking more of the algorithms is also a good idea.
3: I ju

[2016-03-19 02:23] jslee02 commented on #97
Yeah, it's great news! I'm glad to hear that FCL is going to have more development support.

I agree. Here is a short list from my experience and other's feedback:

* Incorrect contact point. The binary check whether the objects are in contact seems to work fine, but the computation of the contact point are not always correct.
* Multiple contact points (or contact manifold) for primitive shape col

[2016-03-19 04:37] mamoll commented on #97
Excellent news indeed! I am more of a user than a developer of FCL. On the motion planning front, sampling-based planners could probably do more with the information that FCL can provide (such as penetration depth / separation distance or vector to closest point). It might also be good to send emails to key researchers (Jia Pan @panjia1983, Dinesh Manocha, others?)  who were/are involved in develo

[2016-03-19 05:16] sherm1 commented on #97
Hmmm ... I still can't see teams. Could be a delay, or maybe I have to be a member of the organization? Would you mind adding me to a team?

[2016-03-19 05:56] isucan commented on #97
That's odd, it should be visible (I checked again just now). In any case, I
added you as well.

On Fri, Mar 18, 2016 at 10:16 PM, Michael Sherman <notifications@github.com>
wrote:

[2016-03-19 18:43] sherm1 commented on #97
Thanks, Ioan -- that worked.

[2016-03-21 12:50] florent-lamiraux commented on #97
My team and myself use fcl for path planning. A while ago we forked our own branch (https://github.com/humanoid-path-planner/hpp-fcl) to develop features that require to modify many interfaces. As the project was not very active at that time, we did not submit any pull request.

The main modifications are the following
  - 1. computation of a distance lower bound when checking collision and when t

[2016-03-21 16:04] stonneau commented on #97
Hello,
Hello everyone,
I hope I'm not delving into too much details, but would like to mention two others features
of the fcl fork mentionned by @florent-lamiraux, which may answers issues expressed by @jslee02 .

Regarding the contact point computation, we found the same issue to occur when colliding objects of different types, which results from the fact that methods are found in a diagonal look

[2016-03-21 16:11] jmirabel commented on #96
It seems there is some interest in this. I'll wait to see the conclusion of the discussion #97. My experiments were done on top the [humanoid-path-planner/hpp-fcl](https://github.com/humanoid-path-planner/hpp-fcl) fork, mentioned in #97.
Thanks

[2016-03-21 16:25] j-rivero commented on #97
Thanks Michael for asking. I can not speak from the perspective of an user or developer. From my perspective as the Debian/Ubuntu maintainer would be nice:
   * Improve the test coverage
   * Have a clear policy about ABI changes and versioning
   * Implement an ABI checker and add it to the CI pipeline

Ubuntu has recently change the policy to introduce changes in already released distributions,

[2016-03-21 16:46] sherm1 commented on #97
@j-rivero, did you mean fcl or libccd above?

[2016-03-21 16:47] j-rivero commented on #97
Sorry I meant fcl, yes.

[2016-03-21 18:21] isucan commented on #97
+1 for merging changes from https://github.com/humanoid-path-planner/hpp-fcl and for removing the articulated model part.

[2016-03-21 22:16] gdbaldw commented on #97
@sherm1  I agree FCL is an excellent base, and have also found that its contact location and vectors are inconsistent for various shape pairs. A general contact solution is needed, in my opinion, for robust simulation. My thought is to define the contact location to be the centroid of the overlaping shape, the orientation to be the plane normal to its major and minor axes, and the length to be pro

[2016-03-21 22:51] sherm1 commented on #97
@gdbadw -- characterization of the overlap volume would be great and would allow use of volumetric contact models like those from John McPhee's group at Waterloo. I'm not sure that can be done practically though. Latte looks cool but I don't think it could work here -- the limitation to convex polytopes might be solvable by decomposition but the viral GPL license is a fatal flaw!

I'll add in Evan

[2016-03-22 14:50] edrumwri commented on #97
@sherm1, I've been using a volumetric description of the intersecting geometries in Moby for convex polyhedra. One nice thing about this is that the volume is also convex, so point samples represent the intersection completely. I can show at least one compelling example where characterizing the volume is useful (perhaps necessary) for constraint stabilization between convex polyhedra in multi-body

[2016-03-22 16:47] gdbaldw commented on #97
@sherm1 - Interesting research you reference.
http://real.uwaterloo.ca/~mboos/wp-content/uploads/2011/05/BoosMcPhee_imsd2010.pdf

In accordance with McPhee's method, each localized contact is characterized as one vector with position. A generalized approach to this characterization, while only partially supported by his limited experiments, would facilitate robust simulation independent of object

[2016-03-22 17:36] edrumwri commented on #97
The answer to the question I _think_ you're asking, @gdbaldw, is that a single point of contact is generally insufficient to prevent interpenetration even though equipollent forces/impulses at the two centers of mass can be found that correspond to forces/impulses applied at multiple contact points. The exception is that if the objects are contacting at their centers-of-mass.

[2016-03-22 18:53] gdbaldw commented on #97
@edrumwri - Interpenetration is fundamental to McPhee's method, with impact force "expressed in terms of the volume of interference between the undeformed geometries", independent of mass distribution. At the instant two objects touch and share just one point, the calculated impact force is zero. As an extension, I ask if it reasonable that the direction and location of McPhee's impact force also

[2016-03-22 23:39] sherm1 commented on #97
@gdbaldw, the volumetric contact model from McPhee's lab does make use of the volume, centroid, and geometric inertia of the overlap volume although that might not be clear from the Boos 2010 reference which was mostly about validation I think. [Gonthier's 2007 thesis](https://uwspace.uwaterloo.ca/bitstream/handle/10012/3416/main.pdf?sequence=1) is probably a better place to look. Here's a quote f

[2016-03-23 00:20] gdbaldw commented on #97
@sherm1 - Excellent! One might hope that Gonthier's 2007 mathematical formulation has already been instantiated for simple analytical shapes into a library useful to FCL, which could then be validated against/correlated with experiments using a general multibody solver, followed by validation of a faceted model implementation (e.g. ico-sphere vs analytic sphere).

[2016-03-23 00:31] sherm1 commented on #97
Yeah, one could hope! But when I asked about it I was told by McPhee lab ex-pats that it is an extremely difficult calculation except for the simplest of shapes. There is apparently a Canadian company that offers a GPU-implemented numerical method for calculating the necessary volumes but they are doing it by sampling so probably can't deliver smooth derivatives. @edrumwri, how are you able to do

[2016-03-23 00:46] sherm1 opened #100 "Consider eliminating FCL's dependence on boost"
For discussion -- boost is a very heavyweight dependency and could be an impediment to FCL adoption. It can also cause problems when FCL is integrated into a larger program that already has a boost dependency, possibly involving a different version of boost (Matlab comes with a version linked in, which caused Drake to have to drop boost).

I'm wondering if the need for boost could be eliminated in

[2016-03-23 01:01] mamoll commented on #100
I'd be in favor of that. I just started the transition to C++11 in OMPL (https://github.com/ompl/ompl/tree/c++11). After grep-ing through FCL's code, it looks fairly straightforward.

One thing that took me a while to figure out was that C++03 and C++11 code are *not* ABI compatible (*usually* things just work, though). The FCL library I had installed was compiled linked against Boost and both wer

[2016-03-23 01:03] scpeters commented on #100
Requiring c++11 is a good way to remove many uses of boost, which I have been spearheading for urdfdom and some other repositories. Here's a list of boost header files included in the FCL master branch:

[code]

One that jumps out at me is boost filesystem, which isn't available in c++11, though it may be included in some later standards.

[2016-03-23 01:06] mamoll commented on #100
boost filesystem is only used in the unit tests. The boost unit testing framework would also be a problem. Perhaps limiting boost to unit tests is acceptable (since end users wouldn't have to install boost to use fcl)?

[2016-03-23 01:07] jslee02 commented on #100
[It seems `filesystem` will be included in C++17](https://en.wikipedia.org/wiki/C%2B%2B17). Also, `zip_iterator` actually isn't used nowhere.

[2016-03-23 01:15] isucan commented on #100
I am also fully in favor of dropping the boost dependency. I think FCL's
use of is is rather light, so it should be quite doable.
On Mar 22, 2016 6:07 PM, "Jeongseok Lee" <notifications@github.com> wrote:

[2016-03-23 01:20] scpeters commented on #100
@sherm1 we could make a checklist based on that list of header files that I made and then check them off as they are removed

[2016-03-23 01:44] mamoll opened #101 "Eliminate knn code"
The code in `include/fcl/knn` appears to be unused. Is there any reason to keep it? If not, we might as well remove it.

[2016-03-23 04:19] sherm1 commented on #100
Great idea, Steve! Then we could do small PRs that knock them out one at a time and check them off until the last one is gone.

[2016-03-23 04:22] sherm1 commented on #100
Yeah, there is no going back. You have to commit to C++11 and then everyone who links with you does also. But ... this is now a 5 year old standard so it doesn't seem too soon to switch!

[2016-03-23 04:37] sherm1 opened #102 "The nuke-boost TODO list"
Thanks to @scpeters in #100 for this list and idea. Please submit PRs that get rid of one or more of these and then check off the ones that are done until they are all gone. This issue is also a good place to discuss problems that arise.

- [x] boost/test/unit_test.hpp
- [x] boost/filesystem.hpp
- [x] boost/timer.hpp
- [x] boost/array.hpp
- [x] boost/assert.hpp
- [x] boost/assign/list_of.hpp
- [x]

[2016-03-23 04:38] sherm1 commented on #100
I made issue #102 with Steve's boost checklist in it.

[2016-03-23 04:46] sherm1 commented on #101
Nearest neighbor functionality sounds useful, and I see some code that appears to be using it [like this](https://github.com/flexible-collision-library/fcl/blob/master/test/test_fcl_simple.cpp#L37). Why do you think it should go?

[2016-03-23 13:51] mamoll commented on #101
The code that uses is simply a unit test that simply tests whether *one* of the knn data structure types works. This copied has been taken more or less directly from OMPL (which is fine), but hasn't been kept up to date with changes there. Without a clear need for it at the moment, I'd argue that less code to maintain is better. We can then also eliminate the (optional) dependency on FLANN.

[2016-03-23 14:32] isucan commented on #101
+1 for removing

[2016-03-24 23:03] scpeters commented on #86
The following files (added in https://github.com/flexible-collision-library/fcl/commit/bfc62b9b0d15026d8091952834d0536649b89ba0) have BSD license headers; I'm not sure why `licensecheck` doesn't see them:

* [include/fcl/ccd/simplex.h](https://github.com/flexible-collision-library/fcl/blob/master/include/fcl/ccd/simplex.h)
* [include/fcl/ccd/support.h](https://github.com/flexible-collision-library

[2016-03-24 23:23] sherm1 commented on #86
Steve, I also have an earlier email from you about possible non-BSD code in FCL:
[code]
https://github.com/flexible-collision-library/fcl/blob/master/include/fcl/ccd/interval.h#L36-L37
https://github.com/flexible-collision-library/fcl/blob/master/include/fcl/ccd/interval_matrix.h#L35-L36
https://github.com/flexible-collision-library/fcl/blob/master/include/fcl/ccd/interval_vector.h#L35-L36
https:/

[2016-03-24 23:35] scpeters commented on #86
Good point @sherm1

Those header files we discussed in the email have a BSD license listed, but the comment made we want to double-check that it was a correct license.

[2016-03-24 23:46] mamoll commented on #86
I remember talking about this code with Stephane Redon at RSS2014. I think what happened is that some legacy code within UNC's Gamma lab made its way into FCL. Redon was a postdoc there, and so was Kim (now at EWHA). Jia was a graduate student there. Tracing the licensing / copyright is tricky to the “real” license / copyright holders is tricky.

[2016-03-25 00:08] sherm1 commented on #86
I emailed Jia to see if he can weigh in. It occurred to me that he might not be getting notifications.

[2016-03-25 17:50] sherm1 commented on #102
I got a response from Jia @panjia1983 regarding dynamics_bitset:

Sent: Friday, March 25, 2016 10:36 AM
To: Michael Sherman <sherm@tri.global>
Subject: Re: FCL notifications?

Not sure how to interpret that -- Jia, are you saying that if it is restricted to compile-time size then it won't be useful at all?

[2016-03-26 02:37] #101 closed

[2016-03-26 18:35] jslee02 opened #106 "Incorrect contact point computation of mesh-mesh collision"
[Here](https://github.com/flexible-collision-library/fcl/commit/13a1f78e32ccdf26d1da3a3205480e860b456413) is a simple test to show the incorrect contact point computation in mesh-mesh collision I mentioned in #97.

In the test, there are two meshes generated from [`Box`](https://github.com/flexible-collision-library/fcl/blob/master/include/fcl/shape/geometric_shapes.h#L76) as shown in below figure

[2016-03-26 18:50] sherm1 commented on #106
Very convincing! Is this specific to box primitives or does it apply in general to contact points for any meshes?

[2016-03-26 19:07] sherm1 opened #107 "test_fcl_math fails on Windows 64 bit due to non-portable use of long"
Visual C++ defines `long` to be 32 bits even in 64 bit mode while gcc and clang make it 64 bits. The standard permits this and as a result the `long` type is generally useless and causes portability problems.
`long long` is 64 bits on all of these compilers. Generally we can avoid trouble by using the C++11 `<cstdint>` types like `uint64_t` when we're depending on a particular number of bits.

The

[2016-03-26 19:18] jslee02 commented on #106
I believe (without proof) this is not specific to box primitives (to clarify, mesh generated from box was tested rather than the original box primitive), but this is more noticeable when the triangle is big. For box mesh case, each triangle is the half size of the square face.

Here is another quick test of box-cylinder meshes.
![image](https://cloud.githubusercontent.com/assets/4038467/14061936/4

[2016-03-27 01:32] sherm1 opened #109 "SortByMorton used with uninitialized values"
SortByMorton is constructed with uninitialized data members `nodes` and `split` [here](https://github.com/flexible-collision-library/fcl/blob/master/include/fcl/broadphase/hierarchy_tree.h#L399).

Then when it is used in `hierarchy_tree.hxx`, those data members are not properly initialized. See [here](https://github.com/flexible-collision-library/fcl/blob/master/include/fcl/broadphase/hierarchy_tr

[2016-03-27 01:33] sherm1 commented on #109
Here is what gcc 4.9 had to say about this (the comp+8 here refers to the `split` member):
[code]

[2016-03-27 02:22] michaelaeriksen commented on #97
Any plans to fix Question: mesh and box collision check? #78?

[2016-03-27 02:23] mamoll commented on #109
Maybe initialize nodes and split to nullptr and 0, respectively and throw an exception when nodes == nullptr in operator()?

[2016-03-27 02:23] michaelaeriksen commented on #97
Have you guys looked at the Bulled collision implementation? I switched to that instead of FCL since I have the issue with ignored collision when an object is within a mesh,

[2016-03-27 19:21] sherm1 commented on #109
I am not confident that 0 is the right default for split -- are you?

[2016-03-27 19:23] sherm1 commented on #97
What does Bullet do in that case? Are you looking for just yes/no collision info or penetration depth?

[2016-03-27 21:48] #107 closed

[2016-03-27 22:08] mamoll commented on #109
No.

[2016-03-30 05:47] sherm1 commented on #97
@stonneau, you mentioned what sound like some important bug fixes in the hpp fork:

but this is not satisfactory):
https://github.com/humanoid-path-planner/hpp-fcl/commit/177fb1fab82cdb27435d9ca590d14b6169235730

https://github.com/humanoid-path-planner/hpp-fcl/commit/fdd6d8dfa38b136e2e32c553f5f71ac264556b04

Are there issues describing these problems, and if not do you want to open some? You said

[2016-04-01 00:40] sherm1 commented on #97
Adding Dinesh Manocha to this thread in case he wants to add anything. Sorry, there has already been a lot going on here, Dinesh!

/cc @manocha1

[2016-04-01 04:17] manocha1 commented on #97
Thanks for all the feedback on FCL. The input provided by different folks is very useful and we should all work together to extend the capabilities of FCL in terms of contact point computations, penetration depth (esp. global PD computations) and supporting higher order analytic shape representations.

[2016-04-01 16:16] michaelaeriksen commented on #97
I'm currently just looking for yes/no collision and bullet reports that.

Cheers,

Michael

[2016-04-04 09:27] stonneau opened #115 "Invalid contact point computation in "mirror" collision test cases"
When testing collision between objects of different types, the object order in the Contact
objects are sometimes inverted, relatively to the order in which they are passed to
the collide method.

This results from the fact that methods are found in a diagonal look up table, which sometimes require inverting parameters (though the Collision results do not take this inversion into account). One quic

[2016-04-04 09:34] stonneau commented on #97
@sherm1
I created a pull request for the second issue.
https://github.com/flexible-collision-library/fcl/pull/114

and raised an issue for the first one.
https://github.com/flexible-collision-library/fcl/issues/115

Three others modifications of fcl were performed in hpp-fcl, as mentionned by @florent-lamiraux:
    1. computation of a distance lower bound when checking collision and when the objec

[2016-04-04 10:14] traversaro commented on #96
I have a question related to this as a (future) user of FCL in a project that is also using Eigen.

As far as I understood (from https://github.com/flexible-collision-library/fcl/pull/111#issuecomment-204566783) the idea is to use Eigen classes in the FCL public header. However FCL is distributed in Debian and Ubuntu official repositories (https://packages.debian.org/source/sid/fcl), so it would b

[2016-04-04 11:54] jmirabel commented on #96
A quick answer on Eigen ABI backward compatibility:
If you do not specify certain macros " with major effects", **Eigen is ABI and API backward compatible** [1]. Some details of what shouldn't be done can be found in [2].

The question of how this is done is a bit technical and I do not know the full details. Very roughly, the algorithm for all operations (sum, difference...) are not in the classe

[2016-04-04 12:24] traversaro commented on #96
I found the statement on ABI compatibility in [2] quite confusing. In particular, `EIGEN_DONT_ALIGN_STATICALLY` is not listed under the macros with "with major effects", but I guess it changes the ABI, as stated in Eigen documention in [1] .

In general ABI issues are quite tricky, and for my limited experience I am quite skeptical of ABI-compatibility claims that are not backed by a ABI complianc

[2016-04-04 12:46] mamoll commented on #97
Not sure if I count as an fcl leader, but these sound like very useful additions.

[2016-04-04 15:36] sherm1 commented on #96
Any thoughts on this, @j-rivero?

[2016-04-05 00:16] schmrlng opened #117 "continuousCollide does not reset the ContinuousCollisionResult struct?"
I've noticed that running ```continuousCollide``` with the same pre-allocated ```ContinuousCollisionResult``` struct will have ```result.is_collide``` stuck on ```true``` after it is used with colliding inputs. Without diving too much into the details of the "real" implementation, it seems that at least the [code for the naive solution](https://github.com/flexible-collision-library/fcl/blob/master

[2016-04-05 13:30] j-rivero commented on #96
Speaking about the use of Eigen or any other math library out there, I'm in favor of using common libraries instead of implementing own code for doing the same.

Changing FCL to use Eigen3 would be a major change for the library, so yes, the API and ABI will probably change. This is expected in the life cycle of a libraries, our work of packaging in debian is to provide users a good transition for

[2016-04-05 13:48] traversaro commented on #96
Just to clarify : I am not concerned of the API/ABI changes due to switching to Eigen3 or between different minor versions of Eigen3, those are part of the normal software cycle.

I was instead concerned of the incompatibilities between FCL compiled as it is, and a third library that is using Eigen with a ABI-changing configuration option, such as `EIGEN_DONT_ALIGN_STATICALLY`, that would change t

[2016-04-05 15:51] j-rivero commented on #96
I understand your point and, without looking more into details, I think that it could happen depending on how types are exposed in the public API and how variables are shared between different libraries. I did not heard of any problem like that at this moment nor can find any bug about this. Given the large tradition on the Eigen project and its popularity it would be weird if we are the first tha

[2016-04-05 22:27] schmrlng opened #119 "Motion initialization and interpolation"
https://github.com/flexible-collision-library/fcl/blob/master/include/fcl/ccd/motion.h defines some classes for interpolating between ```Transform3f```s that are the basis of performing continuous collision checking. Currently, if you call ```getCurrentTransform``` for a TranslationMotion before ```integrate``` has been called, you get an identity transformation which causes the CCDC_CONSERVATIVE_

[2016-04-05 22:28] schmrlng opened #120 "Conservative advancement collision checking"
It seems that the continuous collision checking mode employed by [omplapp](https://github.com/ompl/omplapp/) is CCDC_CONSERVATIVE_ADVANCEMENT
(see [FCLMethodWrapper.h#L117](https://github.com/ompl/omplapp/blob/master/src/omplapp/geometry/detail/FCLMethodWrapper.h#L117)), but in my own tests with simple box-box translation collisions, I can't get this mode to work properly (see this [gist](https://

[2016-04-08 21:08] guihomework opened #122 "Cylinder-Cylinder collision wrong when tilted"
Context:
  My Lab discovered this bug while using MoveIt! (using FCL) with the Shadow Dexterous hand, which consists of several fingers close together and with cylinders to represent collision shapes

Problem:
when moving the fingers to the side, a little, even with thiner collision cylinders that offer a large gap (more than 5mm) relatively to the fingers size, there are strange collisions as see

[2016-04-10 00:24] sherm1 commented on #117
I think this is a bug. The less-naive methods do set the flag to false when there is no collision. I'll submit a fix.

[2016-04-10 00:37] sherm1 commented on #117
@schmring, please review PR #123 to see if it fixes your problem. I only changed the behavior of the naive method.

[2016-04-10 01:15] sherm1 commented on #122
I think FCL needs real primitives!

[2016-04-10 13:37] traversaro commented on #96
@j-rivero I think you are right. To wrap up: if all the libraries packaged in Debian/Ubuntu uses Eigen without the preprocessor options that change the ABI of Eigen classes (in a sense, if they use the "default" ABI of Eigen) everything should be ok. If instead someone uses the "non-standard" ABI of Eigen, they should be ready to face the consequences in terms of interoperability with other librar

[2016-04-10 20:46] schmrlng commented on #117
Yup, that PR looks good to me.

[2016-04-10 21:09] #117 closed

[2016-04-13 19:16] jpgr87 commented on #86
Any updates?

[2016-04-22 11:40] umerhuzaifa opened #124 "Compilation Error"
Hi,

I am facing the following error when compiling a modified version of "general_test.cpp" available in the fcl-master/test folder. As I run "catkin_make" in my catkin workspace,  this is the error I get:

`[ 80%] Built target tracking_node
CMakeFiles/planner3.dir/src/planner3.cpp.o: In function `Box':
/opt/ros/indigo/include/fcl/collision_object.h:63: undefined reference to `fcl::AABB::AABB()'

[2016-04-22 17:49] scpeters commented on #124
Since you're compiling the ROS version of this package, can you also post this as a question on https://answers.ros.org ? If it's a problem with `catkin_make`, they will be more likely to know the answer.

[2016-05-10 21:55] anderwm opened #126 "FCL doesn't compile with octomap 1.8"
At least because octomap::OcTreeNode has no member 'getChild'.  Here are the 1.8 release [notes](https://github.com/OctoMap/octomap/releases/tag/v1.8.0)  Octomap 1.8 is the default for ros-kinetic.

[2016-05-24 20:22] traversaro commented on #96
I recently found this bug in Eigen Bugzilla that is quite relevant to the discussion that we had :  http://eigen.tuxfamily.org/bz/show_bug.cgi?id=422 .

TL; DR:

[2016-05-24 21:47] sherm1 commented on #96
Interesting -- thanks! I'd say that makes it clear we should take all the Eigen defaults when we switch FCL to use it.

[2016-05-31 16:41] cmas1 opened #127 "Wrong closest points between shapes (box, sphere, cylinder) in distance computations"
I have been playing around with FCL to compute the distance between geometric shapes (e.g. boxes, cylinders and spheres) to test some simple collision avoidance methods.

For this purpose I am using the method.
`FCL_REAL distance(const CollisionObject* o1, const CollisionObject* o2, const DistanceRequest& request, DistanceResult& result)`

The method returns not only the distance between the two c

[2016-06-01 09:26] scpeters commented on #127
Should the z coordinate of the point on the box in local coordinates be `-3`?

[2016-06-01 09:37] cmas1 commented on #127
Yes, you are correct, that was a typo. In any case, the point returned from the function makes no sense.

I noticed another thing. For a generic box fcl::Box box1(dimx, dimy, dimz) the point returned on the box is always a triplet [x, y, z] where:
- x can be -0.5 * dimx,   0,   0.5 * dimx
- y can be -0.5 * dimy,   0,   0.5 * dimy
- z can be -0.5 * dimz,   0,   0.5 * dimz

[2016-06-10 01:29] xaxxon opened #128 "trying to find contact points between a box and a "skewed box" doesn't give expected answers when skewed box is beyond box."
I make a box (called BOX1)  at 0,0,0 to 1,1,1 (using box(1,1,1) transform(.5,.5,.5) and another one that has a base shifted along the x axis to:

2,0 that is a unit square with a height of 1, but the "top square" is shfited back towards BOX1.

If it's shifted by 1 unit so it barely touches:
![image](https://cloud.githubusercontent.com/assets/143986/15951651/10701292-2e6f-11e6-8ad2-648d6916bc05.png

[2016-06-10 02:28] sherm1 commented on #128
/cc @amcastro-tri (FCL multicontact)

[2016-06-10 03:31] xaxxon commented on #128
I guess I can give a bit of description of my intent, as well, so maybe if what I'm doing isn't allowed, maybe you'll have a suggestion.

I'm trying to take a rectangle and move it in a direction a certain distance or as far as it can go if it would hit another rectangle before it got there.   In this case, my solid-blue (up) axis is time.   The object on the left is stationary over time, the one

[2016-06-10 15:17] amcastro-tri commented on #128
Great test!. It'd be nice to plot these points together with your boxes to see if they actually lie where you would expect. What about the normals? do those make sense?
Another question, do these results depend on how your triangles are arranged. For instance, if for the top side I flip triangles like so (the final geometry is the same though):
[code]

[2016-06-14 17:37] jvgomez commented on #126
Is there any plan to solve this? I tried to do it by myself but it is not as straightforward as I thought.

[2016-06-15 12:35] jvgomez commented on #126
PR #129 aims to solve this issue.

[2016-06-20 10:04] dblanm opened #131 "Import mesh from mesh created in Blender or Inventor"
Hello everyone,

I would like to know if FC Library support importing a mesh of, i.e. a robot, to then check the collision of the link of a robot with another link.

Thank you in advance for your help.

[2016-06-20 11:45] jf--- commented on #131
hi @dblanm

Perhaps this will give you some idea of which classes to delve into

[code]

[2016-06-20 12:44] dblanm opened #132 "error: missing binary operator before token "(""
When making make in the build directory, using sudo make, make or make -j4
It gives me the error
home.../fcl/octree.h error: missing binary operator before token "("
 #if OCTOMAP_VERSION_AT_LEAST(1,8,0)
                                                            ^

.... and it follows

I change it to  #if OCTOMAP_VERSION_AT_LEAST(1.8.0)
but it didn't worked
Anyone with same problem that knows how

[2016-06-20 12:49] dblanm commented on #132
The code failing is this one:

 /// @return ptr to child number childIdx of node
  OcTreeNode* getNodeChild(OcTreeNode* node, unsigned int childIdx)
  {
#if OCTOMAP_VERSION_AT_LEAST(1,8,0)
    return tree->getNodeChild(node, childIdx);
#else
    return node->getChild(childIdx);
#endif
}

I have to say that I have installed last version of octomap, and checked it in /usr/local/share/octomap/package

[2016-06-20 12:51] jslee02 commented on #132
Could you try a clean build [as we did](https://github.com/flexible-collision-library/fcl/pull/129#issuecomment-226519520)?

[2016-06-20 13:06] dblanm commented on #132
I am sorry but I am a bit new modifying this.
I modified the fcl/config.h.in and added:
#if FCL_HAVE_OCTOMAP
  #define OCTOMAP_MAJOR_VERSION @OCTOMAP_MAJOR_VERSION@
  #define OCTOMAP_MINOR_VERSION @OCTOMAP_MINOR_VERSION@
  #define OCTOMAP_PATCH_VERSION @OCTOMAP_PATCH_VERSION@

  #define OCTOMAP_VERSION_AT_LEAST(x,y,z) \
    (OCTOMAP_MAJOR_VERSION > x || (OCTOMAP_MAJOR_VERSION >= x && \
    (OCTOMA

[2016-06-20 13:18] jslee02 commented on #132
First, you wouldn't include `config.h.in` but `config.h` which is [generated by CMake](https://github.com/flexible-collision-library/fcl/blob/master/include/fcl/CMakeLists.txt#L7).

To clarify, do you mean the current master branch couldn't be built on your system? Why are you modifying `config.h.in`?

Also, could you elaborate what you modified in `config.h.in`? Because I can't see any difference

[2016-06-20 13:29] dblanm commented on #132
As you said, I couldn't built the master branch. I downloaded it again and changed octree.h before making cmake and the error still occurs.

[2016-06-20 13:34] jslee02 commented on #132
Couldn't build it as you downloaded without any modification?

And, why are you changing `octree.h` again?

[2016-06-20 13:46] dblanm commented on #132
No, I couldn't because it gives me the error I first posted.

And I was changing octree.h to add the config.h to see it that corrected the error, but it didn't work. What I did was to add the config and to change OCTOMAP_VERSION_AT_LEAST(1,8,0) for OCTOMAP_VERSION_AT_LEAST(1.8.0). (, for .)

[2016-06-21 14:05] jslee02 commented on #126
I believe this is resolved by #129. Closing.

[2016-06-21 14:05] #126 closed

[2016-06-21 14:17] jvgomez commented on #132
This is the same problem I was having when I updated the PR. However, in the CI and for @jslee02 it worked fine. Perhaps is something related to the compiler? I am using `gcc version 4.8.5 (Ubuntu 4.8.5-2ubuntu1~14.04.1) `

[2016-06-21 15:11] dblanm commented on #131
Thank you very much for your answer, but how exactly is the mesh imported. What I want is to import a mesh from a .dae or .stl file, is it possible?

[2016-06-21 15:21] jslee02 commented on #131
From my experience, FCL doesn't provide a direct way of importing mesh files. You need to parse the vertice data from those mesh files yourself or using other libraries.

We've used [Assimp](http://www.assimp.org/) for it in our project ([example code](https://github.com/dartsim/dart/blob/master/dart/dynamics/MeshShape.cpp#L310)). Once you get the vertice data, then you could build fcl mesh as [we

[2016-06-21 15:40] dblanm commented on #131
Ok! Thank you for all the links!

I am not sure if I should use another thread to ask this, but I'm not sure of how the collision detection works.
I have defined an Ellipsoid Geometry with:
  CollisionGeometryPtr_t ellipsoidGeometry (new fcl::Ellipsoid(16.,16.,8.));
then I created the Transform3f elements and created several CollisionObjects:
fcl::CollisionObject link1Object (ellipsoidGeometry,tf1

[2016-06-21 15:49] jslee02 commented on #131
Your code looks fine to me.

The last line will return true if the two ellipsoid collides. But you should note that, by default, it will give you the binary result whether the two objects collide but not the more detailed information such as contact position, normal, penetration depth. You can get the information by adjusting the option members.

[2016-06-22 09:10] dblanm opened #133 "Debugging error"
I am trying to debug a code using:

[code]

And it gives me the following errors
[code]

My Cmake looks like this:
[code]
What am I missing?

[2016-06-22 10:21] jslee02 commented on #133
I would try with:
[code]

Also, it would be nicer if you use [code highlighting](https://help.github.com/articles/creating-and-highlighting-code-blocks/) for your posts.

[2016-06-22 12:44] dblanm commented on #133
Thank you I didn't know how to highlight the code.
I tried to add the find_package, and the code looks like this:
[code]
But it gives me the following error
[code]
When I installed fcl I didn't set the DCMAKE variable, so I thought that could be the reason, I installed fcl again by doing this time:
_cmake -DCMAKE_PREFIX_PATH=/home/user/fcl-master/build .._

But the error persists, and I have been

[2016-06-22 12:49] jslee02 commented on #133
Have you installed fcl using the `install` target? The whole command to build and install fcl would be something like:
[code]

[2016-06-22 12:59] dblanm commented on #133
Yes, should I remove fcl and try to install it again?

[2016-06-22 13:13] jslee02 commented on #133
Oh, wait, I forgot that fcl only provides `fcl.pc` but not `FCLConfig.cmake`. You could use `PkgConfig`, but I prefer using `FindXXX.cmake` way:

1. Copy [`FindFCL.cmake`](https://github.com/dartsim/dart/blob/master/cmake/FindFCL.cmake) to `your/project/folder/cmake`

1. Modify your main `CMakeLists.txt` as:

[code]

This should work.

[2016-06-22 13:28] dblanm commented on #133
Where is FindFCL.cmake file? I've searched in
[code]
 and could't find it.

[2016-06-22 13:33] jslee02 commented on #133
It's not installed your system. You should write one yourself, but you could find one we wrote for our project from the link in the above comment. Here is [the link](https://github.com/dartsim/dart/blob/master/cmake/FindFCL.cmake) again.

[2016-06-22 13:38] dblanm commented on #133
It worked! Thank you very much for all the support!

[2016-06-22 13:47] silverAndroid opened #134 "Linker errors with gjk_libccd.obj in fcl.lib"
When I try to do collision checking using the example given in the README, as soon as I add the collision function, I get 7 unresolved externals.

I think it may have something to do with the way I built the dependencies and FCL but I'm not sure where I may have gone wrong.

1. For each dependency, I use the CMake GUI, choose the root folder to be where the source code is (ie. D:/dev/fcl-dependenc

[2016-06-25 10:42] traversaro commented on #133
For completeness: the current `default` branch of `fcl` actually provides/installs a fclConfig.cmake file, the only problem is that it only exports the imported target `fcl` but no old style `FCL_LIBRARIES` variable.

This should then work fine even without writing any custom `FindFCL.cmake` :
[code]

This was introduced in https://github.com/flexible-collision-library/fcl/pull/116 .

[2016-06-25 11:17] jslee02 commented on #133
Thank for the correction @traversaro !

[2016-06-27 08:59] v4hn opened #137 "fcl 0.5 release with octomap 1.8 support"
Hey everyone,

over at MoveIt! we just realized we need a version of fcl that supports octomap 1.8,
because ROS' kinetic distribution features the new octomap. [See here](https://github.com/ros-planning/moveit_core/issues/299)
What's your plan for the next release? Is there anything we can do to facilitate a release?

[2016-06-29 09:41] dblanm opened #138 "Wrong value using Distance and Collision - FCL units?"
Hello everyone!

I am testing the distance and collision of for cylinders. This cylinders modelate a robot of which I have the position and orientation. This is a part of the code:

[code]
However, I always check in gazebo if the collision exits and the distance, and both are usually wrong when the position (calculated using the joints degrees) is not in the exact point where the other cylinder is

[2016-06-29 19:28] pbarragan commented on #132
Hi, I also ran into this problem after trying to make a clean clone of FCL. I eventually had to try to force compilation ignoring octomap to get it to work (by changing CMakeCache.txt because I didn't know how to do it the right way). FCL works now, but I'm not sure why I got this error or how I would get around it if I wanted to use octomap. Any ideas on the compiler issue? I am using `gcc (Ubunt

[2016-06-29 20:53] jvgomez commented on #132
@pbarragan I introduced recently this issue :( Since Octomap has changed the API, I wanted to make FCL able to work with both Octomap version >=1.8.0 and <1.8.0, that is why those compilation-time macros are introduced. It was not working on my computer (I tried many many different things), but for @jlsee02 it worked, and also in the CI. Surprisingly, I was even able to create a debian package out

[2016-06-29 21:15] jslee02 commented on #132
I'm using `gcc (Ubuntu 4.8.5-2ubuntu1~14.04.1) 4.8.5`, and [Travis uses `gcc (Ubuntu 4.8.4-2ubuntu1~14.04) 4.8.4`](https://travis-ci.org/flexible-collision-library/fcl/jobs/140381252#L727).

I couldn't reproduce the reported problem, and actually don't think it's a compiler problem. It would be nice if anyone can reproduce the problem by creating a test repo or any other way.

[2016-06-29 21:52] pbarragan commented on #132
@jslee02 I'd be happy to help as the error happens on my system, but I'm not sure how to create a repo that would produce the problem on any system. I can provide any information that's helpful, but if someone could point me to what to provide or how to create said repo, I'd appreciate it as I'm a bit new to how to debug this.

[2016-06-30 15:43] jslee02 commented on #132
For a simple test, can you replace all the `OCTOMAP_VERSION_AT_LEAST(1,8,0)` with `OCTOMAP_MAJOR_VERSION` and let me know what you get?

[2016-06-30 20:23] pbarragan commented on #132
I made the change, removed the previous build directory, cmake .. in a new build directory and make and it seemed to work just fine. I then ran ./tests/test_fcl_distance and that also worked with no errors. make install also worked fine. Seems like it fixed that part.

[2016-07-03 11:58] jvgomez commented on #132
A quick note, I think at this point is much easier to follow something like Gazebo guys do:

[code]

Maybe we should do

#if OCTOMAP_MAJOR_VERSION >= 1
# if OCTOMAP_MINOR_VERSION >= 8
...
# endif
#endif
[code]

[2016-07-19 14:16] davetcoleman commented on #137
ping - we are moving towards releasing MoveIt! for the latest version of ROS and this is blocking. thanks!

[2016-07-19 14:57] mamoll commented on #137
:+1: I don't know who the release manager is for fcl. Based on number of commits in the recent past, I'd say @jslee02 might be the best person to do this.

[2016-07-19 19:27] #91 closed

[2016-07-19 20:23] jslee02 commented on #137
We're referring to release the debian packages (maybe for xenial and later distros), right? We might need help from @j-rivero to update the debian packages then.

[2016-07-19 20:36] v4hn commented on #137
I'm pretty sure releasing the new version into xenial is out of question.
octomap 1.8 is also not part of xenial, but only yakkety.
For ubuntu 16.04 we will probably have to provide the library via ROS just as [octomap 1.8](https://github.com/ros/rosdistro/blob/master/kinetic/distribution.yaml#L2181).

Thanks for looking into this!

[2016-07-19 22:33] davetcoleman commented on #137
@v4hn so you're saying we'll have to wrap a custom ROS-centric fcl release? would @j-rivero be in charge of this?

[2016-07-19 23:14] j-rivero commented on #137
Answering the same than in pull #139: for the different Ubuntu distributions to come, I will take care of it from my maintenance in Debian (hopefully Yaketty will sync from it on time). For the already released Ubuntu distributions we will need to use a PPA or the OSRF build farm (I can help with this). The decision of updating ROS repositories with the new version is not mine (we probably need to

[2016-07-19 23:18] davetcoleman commented on #137
A custom PPA outside of ROS sounds like a bad idea - MoveIt! would get more complicated to install. I think we should stick with the ROS PPA that everyone is already using.

@tfoote do we have a good reason to introduce a custom version of a system library? I think we do if we want MoveIt! in Kinetic LTS

[2016-07-20 00:50] j-rivero commented on #137
Eh .. that sounds like what I meant by a good reason, yes. @tfoote I'm going to start working on the packages for debian, let me know if we finally need them for the ROS repo.

[2016-07-20 18:47] davetcoleman commented on #137
Thanks @j-rivero !

[2016-07-21 23:45] wjwwood commented on #132
I believe the pull request I just opened should fix this: https://github.com/flexible-collision-library/fcl/pull/142

Basically, if you already have `fcl` installed, then in certain situations you can get the installed `fcl/config.h` rather than the one generated for the local build. That's why this never showed up in CI.

[2016-07-22 02:25] jslee02 commented on #132
(Reopening as closed automatically when #142 was merged)

@dblanm @pbarragan Could you confirm if #142 works for you?

[2016-07-22 07:04] dblanm commented on #132
I completley removed fcl and octomap libraries,
I installed octomap by CI folder and then installed fcl, the problem no longer exits.
Thank you for the solution.

[2016-07-22 07:19] dblanm commented on #132
I am testing now fcl octree and octomap using ROS and it compiles, then i think the problem is well solved.

[2016-07-22 13:40] anna-seppala commented on #106
Has somebody worked on fixing this issue? I have similar problems when generating contact points for two OT_BVH objects with BV_OBBRSS node type; many of the contact points are duplicates and some are wildly scattered around the two objects in collision. That being said, I have not pulled the newest changes on but am working on a forked project from some time ago.

[2016-07-22 20:07] jslee02 commented on #106
I believe no one is working on this issue (at least I'm not).

[2016-07-23 03:26] jslee02 commented on #96
Any update on switching to Eigen? I'm willing to help if needed.

[2016-07-23 04:53] sherm1 commented on #96
I am hoping to have some people at TRI able to work on this in the next month or so -- do you want to get started earlier? One of the goals I am hoping to achieve is to end up with code that is templatized by the Eigen scalar type so that we can use AutoDiffScalar to get derivatives. That's important for use by Drake and would probably be generally useful. Since Eigen is fully templatized that sho

[2016-07-24 12:16] jslee02 commented on #96
I could start like within a couple of weeks.

I must admit I don't understand the exact meaning of templatizing by Eigen scalar type. This is my best guess (let's ignore the naming):
[code]
Please let me know if this is different from your expectation.

[2016-07-24 19:22] sherm1 commented on #96
I confess I haven't thought this through very well for FCL. The goal would be to be able to calculate derivatives like partial(distance)/partial(pose). To do this with autodiff requires being able to maintain several instantiations of FCL objects templatized with different scalar types, in the same compilation unit. So the `#ifdef FCL_DOUBLE_PRECISION` method wouldn't work. In Drake it requires te

[2016-07-24 20:35] jslee02 commented on #96
Thanks for the clarification! I have a better understanding, and the derivatives feature sounds useful to me as well.

Let me implement the first pass and see how the second pass would go.

[2016-07-24 20:38] jslee02 commented on #100
All the boost dependencies are removed by #103, #104, #105, #108, #140, #146, #147, and #148!

Closing this issue.

[2016-07-24 20:38] #100 closed

[2016-07-24 20:39] jslee02 commented on #102
All the boost dependencies are removed by #103, #104, #105, #108, #140, #146, #147, and #148!

Closing this issue.

[2016-07-24 20:39] #102 closed

[2016-07-24 20:41] jslee02 commented on #137
As a note, [FCL 0.5.0](https://github.com/flexible-collision-library/fcl/releases/tag/0.5.0) was released.

[2016-07-24 20:42] jslee02 commented on #132
Okay, it seems the issue is resolved! Closing.

[2016-07-24 20:42] #132 closed

[2016-07-24 21:05] sherm1 commented on #102
Yay -- look at that beautiful list of check marks! Thanks, JS and the rest of the boost-bashing team. :+1:

[2016-07-24 21:16] jslee02 commented on #71
I believe this is resolved as the tests are being passed on travis. Please reopen if it's not.

[2016-07-24 21:16] #71 closed

[2016-07-24 21:21] jslee02 commented on #86
#149 is created to move forward.

[2016-07-25 05:33] #133 closed

[2016-07-25 06:52] jmirabel commented on #96
I worked on this topic some time ago. I started modifying the FCL math classes so that the API matches the one of Eigen. I can give you what I did as a starting point.

[2016-07-25 06:57] jmirabel commented on #96
About the automatic differentiation, how does `Eigen::AutoDiff` handle non-linear spaces ?

FCL uses quaternions so a pose is 7 parameters, but the derivative is only 6 DOFs. And it is not as straightforward to get the derivative on the special orthogonal group as it is on a vector space...

[2016-07-25 15:00] sherm1 commented on #96
@jmirabel: autodiffing quaternions does not present any special problem. You may be thinking about representing a quaternion time derivative (4 numbers) as an angular velocity (3 numbers). Autodiffing gives partial derivatives, not total derivative. It is a purely mechanical process that is essentially repeated application of the chain rule and works for any computation.

[2016-07-25 15:34] davetcoleman commented on #137
Thanks!

[2016-07-25 15:44] jmirabel commented on #96
Yes, I meant 4 parameters and 3 DOFs, sorry. I updated my comment.

[2016-07-25 16:39] sherm1 commented on #96
Actually 7 was right for "pose" since that is usually defined to include both translation and rotation, and 6 for translational and rotational velocity. In my response I just mentioned the rotational part because that's where the special orthogonal group you mentioned exists. Anyway, did I answer your actual question?

[2016-07-26 19:47] j-rivero commented on #137
Experimental 0.5 packages (use with caution) have been generated:

 * [Xenial/amd64](http://build.osrfoundation.org/job/fcl-pkg_builder-master-generic/9/)
 * [Wily/amd64](http://build.osrfoundation.org/job/fcl-pkg_builder-master-generic/10/)

If someone can confirm that they work, that would be nice before going further.

[2016-07-26 19:59] davetcoleman commented on #137
@j-rivero not sure how to test those packages, how do we install them? we currently have a [travis/Docker setup](https://github.com/davetcoleman/moveit_kinetic_cpp11) dedicated to testing the kinetic build with the latest fcl and octomap, perhaps we can add your packages there? note its currently not fully fixed :-)

[2016-07-27 21:31] j-rivero commented on #137
For the records: [here is the logic](http://discourse.ros.org/t/fcl-0-5-packages-for-moveit-in-kinetic/364) that we have used to chose how to build and introduce the FCL 0.5 version inside the ROS repositories limiting the side effects on other software.

[2016-07-28 22:30] jonbinney commented on #137
@j-rivero I tried installing those fcl packages on Xenial alongside ROS kinetic, and got some errors:
[code]
jbinney@swift-> sudo dpkg -i /home/jbinney/Downloads/libfcl*
Selecting previously unselected package libfcl0.5.
(Reading database ... 366844 files and directories currently installed.)
Preparing to unpack .../libfcl0.5_0.5.0-1osrf1-xenial1_amd64.deb ...
Unpacking libfcl0.5 (0.5.0-1osrf1~xen

[2016-07-28 22:37] jonbinney commented on #137
Am I misunderstanding things, or do the FCL packages depend on `liboctomap-dev`? On xenial I see version `1.6.8` of that package:
[code]
And this looks like the same headers (but different version) that is provided by `ros-kinetic-octomap`. So FCL 0.5 depends on the system version, which is version `1.6.8`, but compiles against version `1.8`?

[2016-07-28 22:54] jonbinney commented on #137
And now I'm further confused. I forced the removal of the system packages using `sudo dpkg -r --force-depends liboctomap-dev liboctomap1.6v5`. That leaves me with the new fcl0.5 packages installed, and ros-kinetic-octomap. But it looks like these headers in libfcl-dev are hardcoded to expect version `1.6.8` of octmap. In `/usr/include/fcl/config.h` I see:

[code]

[2016-07-28 23:51] davetcoleman commented on #137
I'm getting the same thing as @jonbinney:

[2016-07-29 00:18] j-rivero commented on #137
That is right, I build `fcl0.5` packages depending on `liboctomap-dev` from Ubuntu repositories, which in Xenial is 1.6.8. I assume that you want it to depend on `ros-kinetic-octomap` package, right? I'm back to generate them.

[2016-07-29 00:19] jonbinney commented on #137
Thanks @j-rivero !

[2016-07-29 12:26] j-rivero commented on #137
I've released a new set of [libfcl-5.0 packages for Xenial](http://build.osrfoundation.org/job/fcl0.5-pkg_builder-master-generic/24/) using the ROS octomap package. I was able to install them in my kinetic setup, inspecting the files I can not detect any problem.

[2016-07-29 17:22] davetcoleman commented on #137
Your new packages build! I've updated the [test setup](https://github.com/davetcoleman/moveit_kinetic_cpp11) to automate using these debs

@j-rivero Am I correct in making [this PR](https://github.com/ros-planning/moveit_core/pull/321/files)? Can you +1 it?

Is ``libfcl-0.5-dev`` suppose to be able to be installed alongside ``libfcl-dev``? In my testing it requires me to uninstall ``libfcl-dev``

[2016-07-29 18:09] j-rivero commented on #137
I'm not sure how do we want to refer to the 0.5 FCL package inside the whole ROS ecosystem, there are several options. Note that if we include a `<run_dependency>libfcl-dev</run_dependency>` it will make the MoveIt installation to conflict with an installation of the `libfcl-dev` package from Ubuntu.

* We overwrite the current `libfcl-dev` rosdep rule to resolve to `libfcl-0.5-dev` so all the ROS

[2016-07-29 18:17] jonbinney commented on #137
I can also confirm that the new debs install cleanly and that moveit builds against it. Thanks @j-rivero !

[2016-07-29 20:42] j-rivero commented on #137
No problem, thanks for the testing! I'm finishing with the generation of all packages (combinations of Ubuntu distributions and different architectures) so what would be missing is to choose how to solve the rosdep resolution and uploading packages to ROS repositories. I will comment here as soon as all the packages are ready (hopefully during today).

[2016-07-29 20:53] tfoote commented on #137
Since these packages are going to be mutually exclusive I would recommend that we update the rosdep rule for xenial and later to point to our custom generated ones instead of creating an additional new rule that would cause conflicts. And hope that the new version can get into yakkety.

@j-rivero could you also spin debian jessie versions? And we'll want i386, armhf and arm64 versions as well.

An

[2016-07-29 22:03] j-rivero commented on #137
Thanks Tully. I think that I have ready packages for all the platforms ([all platforms with ros-kinetic-octomap released](http://packages.ros.org/ros/ubuntu/pool/main/r/ros-kinetic-octomap/)):

 * [Debian Jessie for amd64 and arm64](http://build.osrfoundation.org/job/fcl0.5-pkg_builder-master-generic/34/)
 * [Ubuntu Xenial for amd64, i386 and armhf ](http://build.osrfoundation.org/job/fcl0.5-pkg_b

[2016-07-30 11:57] poine commented on #137
Hello World
I have downloaded and installed j-rivero libfcl0.5 packages on a Mint18 (Xenial package base). I am still failing to build moveit! from git kinetic-devel branch due to std::shared_ptr vs boost::shared_ptr conflict:
[code]

[2016-07-30 17:45] jonbinney commented on #137
@poine I believe that compile error is due to a problem with the released version of geometric shapes. Can you add the newest `kinetic-devel` version of geometric_shapes to your workspace and try again? https://github.com/ros-planning/geometric_shapes

[2016-07-30 18:43] poine commented on #137
@jonbinney Thanks a lot, it did the trick.

[2016-07-31 18:42] davetcoleman commented on #137
So ``libfcl-dev`` rosdep rule will point to ``libfcl-0.5-dev`` debian? @j-rivero can you make that change?

[2016-07-31 20:33] tfoote commented on #137
@davetcoleman we can't do that until it's been validated and imported into packages.ros.org for all platforms.

[2016-08-02 12:58] chhtz opened #151 "How to provide custom CollisionGeometry types?"
Hi, sorry for adding this as an issue, it is actually more of a question (but I did not find any other support channel).

Essentially, what I have is a data structure (a multi-level grid) which I want to collide with other collision objects. I understand that I can just inherit from `fcl::CollisionGeometry`, but I'm not sure what I shall return as `OBJECT_TYPE` and `NODE_TYPE`, (without patching t

[2016-08-04 18:23] davetcoleman commented on #137
How long do you think until we can get it into shadow-fixed? I'm working on the MoveIt! Kinetic source build instructions at the moment

[2016-08-08 15:17] MPJansen opened #152 "Alignment issues when using Eigentypes"
Hiya,

I have recently started using your awesome library to do more with robotics motion planning, thanks!

From some pull requests I understand that you have recently switched to using Eigen types under the hood.
When running the fcl_collicion test,  it sometimes runs into a segmentation error which points to the following Eigen related website:
http://eigen.tuxfamily.org/dox-devel/group__TopicU

[2016-08-08 15:53] sherm1 commented on #152
@MPJansen, what platform were you running on when you saw that seg fault, and was it 32 or 64 bits?

[2016-08-09 05:15] MPJansen commented on #152
@sherm1 ,

I am running the examples from a windows 10 computer under vs 2015, 32 bit debug comp.
The exact settings are on my work computer which I do not have access to right this sec.

I mistakenly called it a segmentation fault though, it is actually an Eigen debug assert that tests for alignment issues, like the one detailed at
http://eigen.tuxfamily.org/dox-devel/group__TopicStlContainers.ht

[2016-08-09 10:08] chhtz commented on #152
This is a known issue with Eigen in `std` containers. The two possible fixes are to use the patched `std::vector` as suggested in the link, or to generally use unaligned Eigen types (since you `typedef` them anyway, you could easily write e.g.,
[code]

The reason this does not occur on 64-bit systems is that they by default align everything to 16 bytes (you will again have problems when compiling

[2016-08-10 09:03] MPJansen commented on #152
From scanning the source files a little bit, some of the FCL internals seem to be using std containers in conjunction with eigen fixed size types, i.e:

`generateBVHModel(BVHModel<BV>& model, const Sphere& shape, const Transform3d& pose, unsigned int seg, unsigned int ring)`

has its points defined as
`  std::vector<Vector3d> points; `

Which I guess should be
`#include <Eigen/StdVector>`
`std::ve

[2016-08-10 09:06] jslee02 commented on #152
Oh, I forgot to mention here. I'm trying to resolving this issue in #154 together.

[2016-08-10 19:53] chhtz commented on #152
FYI: With C++11 the `#include <Eigen/StdVector>` is not necessary anymore. Also, `Vector3d` will not be aligned anyway, so for this it will not make a difference. And, with the very newest Eigen version there will be some vectorization even for unaligned types (because newer CPUs have barely overhead for unaligned loads) -- this can be deactivated, if wanted (for older CPUs).

[2016-08-11 15:51] jslee02 commented on #151
Yeah, this issue tracker might be the only support channel other than Stack Overflow. 😓

I think adding new collision geometry type wouldn't be straightforward; you might need to implement all the glue algorithms to make the new collision geometry work fine with other objects and for all the queries (collision, continuous-collision, distance).

Wouldn't your data structure fit to any of current ge

[2016-08-11 15:54] jslee02 commented on #86
Could we close this issue?

[2016-08-12 13:12] chhtz commented on #151
Hi, thanks for your response!
I started looking into `BVHModel`, and as far as I understood it I could try to provide some custom "tree" structure (which in my case is actually a grid of lists), right?
Is there an example somewhere how to start this? My first assumption would be that I need to specialize `BVHModel<MLSModel>`, somehow (with a new custom class `MLSModel`).
I guess I need to have a c

[2016-08-13 02:07] OwlCoder commented on #152
@jslee02 I guess Eigen::Isometry (mentioned as a parameter in the template for Isometry3) is deprecated. I can't find any information on the internet. Are you still working on it? Or is it already fixed and there's some other issue?

[2016-08-13 02:10] jslee02 commented on #152
I believe the alignment issue is addressed in #154.

[2016-08-13 03:52] jslee02 commented on #122
I haven't looked into this problem deeply, but somehow it seems the problem is gone with #154. I tested your test code [here](https://github.com/flexible-collision-library/fcl/blob/issue122/test/test_fcl_geometric_shapes.cpp#L958).

[2016-08-13 08:44] MPJansen commented on #152
Looks great!

[2016-08-13 08:44] #152 closed

[2016-08-14 19:50] sherm1 opened #160 "Consider "-inl.h" design pattern to reduce compile time for templated code"
After PR #154 lands, most FCL code is templatized by scalar type. In normal use it will almost always be instantiated with `double` (*maybe* `float`). The more elaborate instantiations needed for autodifferentiation will be rare, so most user code needs only declarations for the `T=double` case and doesn't need to have access to the definitions of the templatized methods, which are expensive to co

[2016-08-14 22:24] jslee02 opened #161 "Proposal: Source tree reorganization"
I think the structure of FCL classes is well designed, but the structure of the source tree doesn't seem to accord with it. Here are some issues and suggestions I found while working on #150 and #154.

### Minimal classes in a header file
Some files have too many classes in them. This makes hard to learn FCL from navigating the source tree and to maintain the source code. Also, they are vulnerable

[2016-08-14 22:54] jslee02 commented on #160
I like this idea! I've been looking for a way of reducing the compilation time after I experienced dramatically increased compilation time with #154.

I proposed minimizing exposing API to users using `detail` directory. Accordingly, I would prefer to have the implementation files in `detail` directory. The file name could be either of the same as the declaration file or the declaration file name

[2016-08-15 00:25] sherm1 commented on #160
Yeah, I agree `-impl.h` makes more sense than `-inl.h`.

I think with this design pattern FCL *could* be used header-only, if people use the `-impl.h` headers. But most users would probably be glad to link instead to avoid recompiling all that code with every use.

[2016-08-15 01:35] jslee02 opened #162 "Proposal: Consistent naming for filename and the contained class name"
It seems the current convention for filenames is using underscore while the class name's convention is camel case. I suggest using one convention here and vote on using camelcase.

[2016-08-15 01:40] sherm1 commented on #161
I like this reorganization. A few comments:
- I think the `object` directory isn't adding much - consider renaming it `geometry` and flattening a little.
- I like the `detail` namespace. Usually that's used in headers along with the user-visible stuff to mark things they don't have to think about, rather than being in a separate directory.
- Consider adopting a coding style guide. For Drake we dec

[2016-08-15 02:01] sherm1 commented on #162
I used consistent CamelCase in Simbody for classes and files as you are proposing, and I liked that. However, I have learned that many people feel strongly that only lower case should be used for file names, I think to avoid cross-platform and cross-network problems that mix case-sensitive and case-insensitive systems, and possibly for cleaner alphabetizing. [Google style guide](https://google.git

[2016-08-15 02:25] jslee02 commented on #162
That sounds reasonable to me.

There are some files using upper case for abbreviations such as `BVH_` and `AABB`. I think then these should be changed to lowercase for consistency.

Also, we should consider using `_impl.h` rather than `-impl.h` for implementation files.

[2016-08-15 02:48] sherm1 commented on #162
I actually prefer the hyphen there because it makes it (somewhat) clear that this is not part of the class name. So for class MyClassName we could have `my_class_name.h` and `my_class_name-impl.h` where the latter is seen as the same class name but with a suffix. There are actually a lot of real classes whose names end in `Impl` (often because of the PIMPL design pattern), and then we would have a

[2016-08-15 02:54] sherm1 commented on #162
I agree about downshifting the abbreviations in file names. Google style guide even suggests a standard way to deal with [acronyms in symbol names](https://google.github.io/styleguide/cppguide.html#Function_Names):

[2016-08-15 03:32] jslee02 commented on #162
I don't have a strong preference on suffix for implementation files so I'm fine with the hyphen.

I also prefer to capitalize acronyms as single words to avoid confusion with the next word that start with a capital letter (e.g., prefer `HttpConnection` over `HTTPConnection`).

[2016-08-15 04:24] jslee02 commented on #161
In that case, it's to me not clear whether `[continuous]_collision_object.h` should be in **`geometry`** or **`narrowphase`**. If we regard `CollisionObject` as a simple extension of `CollisionGeometry` with transformation data then it would make sense with being in **`geometry`**. Otherwise, **`geometry`** should hold only *collision geometries*, and `CollisionObject` could be in **`narrowphase`*

[2016-08-15 05:14] sherm1 commented on #161
If you *can* separate the detail stuff that makes sense. But often it is closely tied to some more user-visible code has to be mixed in. Also, there are likely to be math details, geometry details, narrowphase details, etc. -- did you mean to have a subdirectory in each one?

We use clang-format with [this style](https://github.com/RobotLocomotion/drake/blob/master/.clang-format). We don't *requir

[2016-08-15 05:28] jslee02 commented on #161
Yeah, I believe it's possible.

For those user-visible code, I think they shouldn't be in `detail`. I define objects to be in `detail` as any objects that are not exposed to the public API. If an object is user-visible (through public members) then it means the user needs to know how to use it, which is not detail any more.

Yes. I'm working on [this branch](https://github.com/flexible-collision-l

[2016-08-15 05:41] jslee02 commented on #160
We could consider explicitly instantiating for `T=fcl::real` rather than `T=double`, and aliasing `fcl::real` as `double` by default. This would allow us to build FCL instantiated with different type by simply switching the `fcl::real` to the different type.

[2016-08-15 05:42] sherm1 commented on #161
The problem is that when much of the code is in headers it is all exposed. I've seen `detail` used within headers for helper classes and the like that have to be physically present in the user's compilation unit but  should only be used internally. I believe the standard template library, for example, has lots of internal junk hidden away like that. It is not always easy to segregate that kind of

[2016-08-15 06:09] sherm1 commented on #160
Actually for explicit instantiations it wouldn't be unreasonable to simply instantiate for `float` and `double` both if those are the only common ones. Since the code would just exist once for each in the library the overhead would be minimal. Then I think there would be no need for `fcl::real` and people wouldn't have to try to coordinate that with whatever other packages they are using.

[2016-08-15 12:51] mamoll commented on #161
If header files are moved to different locations, all dependencies will break. Perhaps you could create stubs for the old headers that have a `#warning` and `#include` of the header file in the new location? OTOH, if enough changes are happening before the next release that things will break regardless, then perhaps that won't be necessary.

[2016-08-15 13:07] jslee02 commented on #161
That's my [first approach](https://github.com/flexible-collision-library/fcl/blob/master/include/fcl/math/vec_nf.h#L41). But I realized FCL 0.6 will break the API anyways because of Eigen (#151) + Templatize (#154) + Reorganization (#161). So I propose *top level FCL header* (in #161) `fcl.h` that includes all the necessary FCL headers at once.

[2016-08-15 13:28] jslee02 commented on #161
Oh, I see. I think it would be fine to have those helper classes in the same file. I indend to hide files that all the containing classes are in `detail` namespace rather than hiding all the code segment of `detail` namespace. For example, I moved all the [traversal files](https://github.com/flexible-collision-library/fcl/tree/reorganization/include/fcl/narrowphase/detail/traversal) to under detai

[2016-08-15 16:06] guihomework commented on #122
thanks, will have a look if #154 also fixed my issue in the "real" world (understand not the simplified test case)

[2016-08-15 16:36] chhtz opened #164 "Use std::vector instead of new/memcopy/delete."
I found a lot of constructs like (https://github.com/flexible-collision-library/fcl/blob/master/include/fcl/BVH/BVH_model.h#L482):
[code]
Is there a reason for that, instead of using `std::vector<Vector3<3>>` and `push_back`?
This would enhance readability and improve leak-safety. I don't think it will significantly influence performance.

Furthermore, checking the return value of `new` is pointle

[2016-08-15 16:42] jslee02 commented on #164
I like this idea (actually I was about to propose this, you beat me :smile: ). We could boost the performance using `std::vector::reserve()` and `std::vector::emplace_back()`.

I guess the original author indented not to use exceptions. In that case, [this](https://github.com/flexible-collision-library/fcl/pull/72/commits/8d0441e27c0496c26f7df90469b0caa0c82cba09) would be proper approach. Otherwis

[2016-08-15 16:45] mamoll commented on #164
👍 for using std::vector. Using memcpy sounds dangerous: what if the memory layout is not contiguous? No opinion on the exception handling; I don't know what the motivation was behind avoiding exceptions.

[2016-08-15 17:22] sherm1 commented on #160
@jslee02, Jeremy Nimmer asserts that he used `-inl.h` in Drake because it is sort of an industry standard despite its somewhat-wrong connotation. See RobotLocomotion/drake#3141.

[2016-08-16 02:59] jslee02 commented on #160
If it's an industry standard then I'm okay with it. I don't have a strong preference here.

[2016-08-16 04:16] sherm1 commented on #164
The existing code is broken, but I'm neutral between catching an exception and using the `nothrow` form of `operator new[]()`. My inclination would be to use `nothrow` as JS proposed because it facilitates the detailed, localized error message and requires the smallest change.

Regarding memcpy -- I agree with @mamoll that it's dangerous, though could likely be made safe. Both built-in arrays and

[2016-08-16 08:49] chhtz commented on #164
First of all, Eigen's `Vector3` are padding-free, but even if they were not, `memcpy` would be safe, since `sizeof` always includes the padding. One cannot use `memcpy` for structs/classes which have a non-trivial copy constructor. One can always use `std::copy` in that case (which should fall back to `memcpy` for PODs).

But my main point was that one should prefer the existing containers (or imp

[2016-08-17 18:39] jmachowinski commented on #151
Hi,
I'm working with christoph on this. I also took a look into
the source an must say I'm a bit puzzled. Is there somewhere
a document that describes the architecture of fcl ?

What is clear to us, is that we need to provide all function to
collide all supported shapes against our own collision object.

After we defined them all, we would then need to hard code them
into the collision_matrix ? Or

[2016-08-17 18:48] jmachowinski commented on #151
Hm, I just realized, I should give more detail on our data structure.
We got a regular grid with a custom resolution. Each cell of the grid
contains an ordered list of patches of occupied space.

Our approach would be to generate on the fly boxes for every 'height'
patch that is in the vicinity of other shape (using the BB) and use the existing
box / shape tests then. Does this sound like a good i

[2016-08-17 20:06] sherm1 commented on #160
Googling for "template inl.h instantiation" does pull up a lot of uses, including a mention in the Google Style Guide, basically to say "don't do this" (but they aren't talking about this specific problem). `impl.h` definitely doesn't get the same amount of press.

[2016-08-18 03:53] jslee02 commented on #151
Sorry for delayed response. As far as I know, there is no documentation. Here is some background of the architecture of FCL for adding new collision object:

* Nothing to do for broadphase algorithms for adding new collision geometry type
* In high-level, all the collision geometries fall into three categories: primitive shapes (e.g., box or sphere), mesh, and octree
* Every collision geometry is

[2016-08-18 06:08] scpeters commented on #160
Searching the [ubuntu packages database](https://www.google.com/#q=site:packages.ubuntu.com+%22*-inl.h%22), I see it in [nodejs](http://packages.ubuntu.com/xenial/amd64/nodejs-dev/filelist), [unity](http://packages.ubuntu.com/trusty/amd64/libunity-core-6.0-dev/filelist), [gtest](http://packages.ubuntu.com/precise/amd64/libgtest-dev/filelist), and [mongodb](http://packages.ubuntu.com/trusty/amd64/m

[2016-08-18 06:15] jslee02 commented on #160
Interestingly I got 1,260 results for `-impl.h` while got 762 for `-inl.h`.

[2016-08-18 06:21] jslee02 commented on #160
Anyways, I created a [pull request](https://github.com/flexible-collision-library/fcl/pull/165) for this. Feedback is welcome!

[2016-08-18 16:20] sherm1 commented on #160
I saw that too but then when I looked closer Google had apparently dropped the ".h" and matched lots of things containing the word "implementation"!

[2016-08-19 01:48] jslee02 opened #167 "Update README.md for changed data types"

[2016-08-22 13:51] MPJansen opened #168 "Slow release execution time with NDEBUG"
When playing with the new templated version of fcl I was stumped about the slow execution time of the tests compared to reported performance.
This is on Windows 10 x64 Visual Studio 2015 release build for x86.
Furthermore, the debug build tests seemed to execute a lot faster (factor 3) than the release builds.

I found that CMAKE sets the NDEBUG pre-processor flags for non debug builds, removing t

[2016-08-22 21:12] mryellow opened #169 "Should FCL depend on ros packages"
[code]

I'm setting up a source install. Not sure if it's in the specs however in every other case when a non-"ros-kinetic" prefixed package is required this package will not then depend on anything inside ROS.

With this not being the case for FCL the result is that I now have both a source install and a deb for catkin and octomap.

Shouldn't this mean FCL is really a ROS package as it depends on

[2016-08-23 11:51] MPJansen commented on #168
I just realised, the amount of test executions is not the same for debug and ndebug.
So perhaps I should close this issue

Kind regards

[2016-08-23 17:39] chhtz commented on #169
Not sure what you mean. For me FCL runs perfectly fine without any ROS (maybe this is more a ROS issue?)

[2016-08-23 19:12] jslee02 commented on #169
I'm not sure if `libfcl-0.5-dev` actually depends on ROS packages, but please note that `libfcl-0.5-dev` is a custom package for ROS and any library want to use early release of FCL 0.5 ([the official packages of Ubuntu is up to FCL 0.4](http://packages.ubuntu.com/search?keywords=libfcl-dev&searchon=names&suite=all&section=all)). Related discussions: [rosdistro #12287](https://github.com/ros/rosdi

[2016-08-23 19:23] jslee02 commented on #168
The size of tests for debug mode are adjusted because of the slow performance of Eigen in debug mode. It's known that Eigen is slow in debug mode due to lots of alignment checkings). FCL couldn't pass the CI tests without the test size adjustment (it exceeds 10 min limitations without any outputs).

Regarding the performance in release mode: After migration to Eigen for math operations, the overal

[2016-08-23 20:28] chhtz commented on #168
The reason Eigen is slow in debug mode is less caused by alignment checks, but by the high amount of (not inlined) expression template code. Even compiling with `-O1` (on gcc or clang) usually gives reasonable execution times.

[2016-08-23 20:33] jslee02 commented on #168
Good to know! Thanks for the correction.

Is it considerable to use `-O1` for debug building then?

[2016-08-23 20:38] chhtz commented on #168
I would definitely add `-O1` if you want usuable execution speeds. It does of course slightly slightly complicate debugging code (but not as bad as `-O2` or `-O3`).

[2016-08-23 22:11] mryellow commented on #169
Seems having to include the correct version of octomap is the thing which can't be avoided.

[code]

[2016-08-24 09:36] MPJansen commented on #168
Interesting,

I'll see if I can profile fcl a bit to see what's the bottleneck. Firstly I was just confused by the difference between debug and not, but I jumped the gun a bit..

Shall I close this?

grts

[2016-08-25 10:05] #168 closed

[2016-08-25 18:11] j-rivero opened #170 "Test fcl_geometric_shapes fails in different architectures"
Although the `fcl_geometric_shapes` test passes in amd64 it is [failing in a good variety of architectures](https://buildd.debian.org/status/logs.php?pkg=fcl&ver=0.5.0-1), including [i386](https://buildd.debian.org/status/fetch.php?pkg=fcl&arch=i386&ver=0.5.0-1&stamp=1471364099). This was [reported by Debian](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=834561).

[code]

I've created a [testi

[2016-08-25 18:24] jslee02 commented on #170
My hunch is [this](https://github.com/flexible-collision-library/fcl/commit/9200965b4641af419aacc536f1791fbfb59da1c0#diff-9e2bb53ae1f3a1e17bbb55818a2a62c1R994) where the change was made after FCL 0.5. However, I'm not sure how to ensure if it fixes the problem since FCL 0.5 passes all the CI tests (Travis CI and Appveyor).

[2016-08-25 18:40] jslee02 commented on #170
Wait, it was not. After I looked into the build log of your testing job, it seems [this](https://github.com/flexible-collision-library/fcl/blame/master/test/test_fcl_geometric_shapes.cpp#L884) should fix the problem.

How can I rerun your testing job with the fix?

[2016-08-26 17:20] davetcoleman commented on #137
MoveIt for ROS-Kinetic is now using FCL 0.5 using the rosbuild farm debians. This issue can be closed @jslee02, thanks!

[2016-08-26 19:46] #137 closed

[2016-09-07 15:44] jslee02 opened #171 "Proposal: Returning nearest points in world coordinates rather than local cooridnates"
The reference coordinates of nearest points of distance result are the local coordinates of each corresponding object.

It would make sense to have the same reference coordinate with the contact point, which is the world coordinate, for consistency unless we have a good reason not to do. Either way, I believe we should add comment says what the reference coordinates are.

[2016-09-08 11:00] arzezniczak opened #173 "Unresolved external symbols when using FCL"
Hello.
I'm trying to use FCL library in project. I've build Release x86 version of FCL lib without any errors, but when I try to use it I'm getting this errors:
`1>X.obj : error LNK2001: unresolved external symbol _ccdFirstDirDefault`
`1>X.obj : error LNK2001: unresolved external symbol _ccdMPRIntersect`
`1>X.obj : error LNK2001: unresolved external symbol _ccdMPRPenetratio`

Any idea how to get r

[2016-09-08 12:01] jslee02 commented on #173
It seems `libccd`, which is a dependency of FCL, is not linked to your project. It should be automatically linked if you use CMake build system (recommended) to use FCL as:
[code]
You could link `libccd` manually, but I would suggest using CMake.

[2016-09-08 12:07] arzezniczak commented on #173
I am using CMake (gui version). First I'm building Eigen, then libccd, then I'm building FCL and setting in Cmake includes (Eigen and libccd) and lib (libccd only since Eigen is include only). I'm skipping octomap.
As a generator I'm using Visual Studio 2015.

[2016-09-08 12:13] jslee02 commented on #173
Could you post the `CMakeLists.txt` of your project? Also, please make sure all the dependencies are corrected found using `REQUIRED` option (e.g., `find_package(fcl REQUIRED)`).

[2016-09-08 13:45] arzezniczak commented on #173
I'm not familiar with CMake build system and I'm not sure if I good understand you :smiley:
In my project I'm not using CMake, I'm using it only to build Visual Studio solution of FCL, libccd and Eigen libraries.
But I guess you wan't to see if I set properly usage of libccd library in my project (?) I can show you this in Visual Studio project properties window.
This is in linker settings:
![imag

[2016-09-08 13:59] jslee02 commented on #173
You could use CMake to generate Visual Studio solution, but it's up to you.

It seems you set only include/lib directories, but not library files. If I'm correct you can set them at Linker/Input in the project setting dialog in VS.

[2016-09-08 15:28] jslee02 commented on #171
After further testing, I realized that FCL uses world coordinates for meshes while local coordinates are used for primitive shapes. The existing tests couldn't catch this because they only check distance but not the nearest points properly.

I'll create a pull request for making FCL consistently returns nearest points in world coordinates.

[2016-09-09 04:27] jslee02 commented on #96
FCL is now based on Eigen since #150.

[2016-09-09 04:27] #96 closed

[2016-09-09 07:27] jmirabel commented on #96
This sounds really good. Thanks for this job !

Le 9 sept. 2016 06:27, "Jeongseok (JS) Lee" <notifications@github.com> a
écrit :

[2016-09-09 09:48] arzezniczak commented on #173
Yeah, thank you!
It works now.

[2016-09-09 11:12] #173 closed

[2016-09-09 11:17] jslee02 commented on #7
Doxyfile was added by #174. It's not the one that was used to generate [the original documentation](http://gamma.cs.unc.edu/FCL/fcl_docs/webpage/generated/annotated.html), but we could keep updating the new Doxyfile if needed.

[2016-09-09 11:17] #7 closed

[2016-09-09 11:49] jslee02 commented on #160
I believe this is addressed by #165.

[2016-09-09 11:49] #160 closed

[2016-09-09 11:49] jslee02 commented on #161
Addressed by #163.

[2016-09-09 11:49] #161 closed

[2016-09-09 11:55] jslee02 commented on #86
I believe this is addressed by #149, please reopen if it's not.

[2016-09-09 11:55] #86 closed

[2016-09-12 09:38] dblanm opened #176 "traversal node setup"
Since the last release of **FCL 0.6.0** the _traversal_node_setup.h_ has disappeared, which included the _traversal_node_octree_ between others.
I cannot find anything related to the exact updates done by the 0.6.0 release.
Could anyone tell me which one is the similar header to _traversal_node_setup.h_? Since **OMPLapp** relies upon this header.

Thanks in advance!

Edit: using FCL 0.5.0 (while c

[2016-09-12 10:55] ipa-bfb opened #177 "ROS KInetic"
Are you going to make available a version compatible with ROS Kinetic?

Thank you,

[2016-09-12 12:51] dblanm commented on #131
In case that anyone wants another way of loading a mesh, I used a _.obj_ file implementing a loadOBJFile function within the code like this:

[code]
I close the issue.

[2016-09-12 12:51] #131 closed

[2016-09-12 12:54] #138 closed

[2016-09-15 15:49] chhtz opened #178 "Lots of warnings when compiling with -Wnon-virtual-dtor"
The fix would be to make all corresponding destructors `virtual` or `protected`.

[2016-09-20 18:38] JenniferBuehler opened #179 "Linker errors projecting down to libccd"
Hi,

just a note in case anybody stumbles over the same thing that I did.
I am working on the newest version out of this repository so I guess that this may be something which will be addressed in FCL soon, and just writing this for others who may be looking for a solution to the same or a similar linking problem.

I know there has been recent changes in migrating to having the precision (float or

[2016-09-23 18:49] jslee02 commented on #176
You could use `fcl.h` that will be installed at the top level of the include directory. It includes all the necessary FCL headers so that you no longer need to try to figure out which FCL headers should be included for your use.

FCL should support octomap 1.8.0 with #126 and #129, but I'll take a look at it.

[2016-09-26 12:50] Cescuder opened #180 "make error in ubuntu12.04"
Hi!

I'm trying to compile, but I get this errors:

[code]

[2016-09-26 16:33] jslee02 commented on #180
It seems the Eigen version in precise doesn't support `operator <<` for `AutoDiffScalar`. Could you try with a higher version of Eigen? I don't know the exact version that supports it, but at least Eigen 3.2.0 (version for trusty) would work.

[2016-09-26 16:35] jslee02 commented on #179
Could you provide more details like the version of FCL and error messages?

[2016-09-26 16:36] jslee02 commented on #177
What's the problem with ROS Kinetic?

[2016-09-26 17:04] Cescuder commented on #180
Yes! I installed the latest version from source and everything is fine, thanks!

[2016-09-26 17:07] jslee02 commented on #180
Cool!

[2016-09-26 17:07] #180 closed

[2016-09-27 17:12] jslee02 commented on #134
It seems libccd is not linked correctly. Did you add libccd library files to your final solution?

[2016-09-27 17:23] jslee02 commented on #169
It seems this issue is more related to `libfcl-0.5-dev`, the custom package for and maintained by ROS. I think you would get better support if you post this issue to [rosdistro](https://github.com/ros/rosdistro).

[2016-09-27 17:29] jslee02 commented on #124
I agree with @scpeters . It seems like the consumer project's (e.g., `planner3`) problem that isn't correctly linking to FCL rather than FCL itself. Any luck on http://answers.ros.org/questions/?

[2016-09-27 17:32] jslee02 commented on #82
Let's take this as the first logo of FCL. I'm closing this issue, but feedback is welcome anytime!

[2016-09-27 17:32] #82 closed

[2016-09-27 17:35] jslee02 commented on #39
Closing this issue since it hasn't been updated for a long time. Please reopen this if this is still an issue.

[2016-09-27 17:35] #39 closed

[2016-09-27 17:42] jslee02 commented on #17
If I'm understanding your question correctly, you could use `distance` query in that case. It gives you the distance and the two nearest points. You could get the normal vector as well using the nearest points.

[2016-09-27 19:02] JenniferBuehler commented on #179
Hi,

I am using the version from this repo master branch which I pulled about 2 weeks ago.

Meanwhile our code has changed a lot as I migrated it to another package, and now I can't reproduce the original error message... But I found it in one of my emails (we had the problem on several machines and exchanged the errors we got):

[code]

By the way, I also noticed that my initial thought that it w

[2016-10-05 09:20] arzezniczak opened #183 "Unresolved external symbol ___ccdSupport"
I have problem with compilation (code is from master brach pulled yesterday).
I can't compile few tests - every one of them is using `__ccdGJK` function.
Specific linker error:
`8>fcl.lib(gjk_libccd.obj) : error LNK2019: unresolved external symbol ___ccdSupport referenced in function "int __cdecl fcl::detail::libccd_extension::__ccdGJK(void const *,void const *,struct _ccd_t const *,struct _ccd_si

[2016-10-05 13:30] jslee02 commented on #183
How did you compile the tests? The definition is in `libccd` so it should work if you link to `libccd` correctly.

[2016-10-06 02:05] silverAndroid commented on #134
What do you mean by add it to the final solution?

[2016-10-11 06:40] arzezniczak commented on #183
I was trying now to ignore the test, but still I have the same errors when building library only without tests.
I'm using Visual Studio 2015, default solution configuration Debug Win32.
I think I have correctly linked libccd. By default i see it's added in additional include directories and in additional dependencies, it's not added in additional library directories but even if I try to add there

[2016-10-11 14:21] jslee02 commented on #183
Great! Thanks for sharing this. I'd like to leave this issue open until we have the patches like what you did.

[2016-10-12 06:56] mirsking commented on #97
Hi @sherm1 , do you have any information about the progress of the high-performance open source collision library by TRI. Thank you!

[2016-10-12 16:54] sherm1 commented on #97
@mirsking: we have just recently added staff for computational geometry so are really just getting started on this now. We have been working on FCL integration but not yet on new code for it except for some minor build things. Adding @SeanCurtis-TRI to this thread -- Sean is our main go-to person for computational geometry.

[2016-10-30 19:34] xendian opened #184 "lots of compilation errors"
I am using visual studio 20113 and getting lots of errors on ;
Error   10  error C2146: syntax error : missing ';' before identifier 'S'  in  ....\fcl-master\src\broadphase\broadphase_collision_manager.cpp

due to in .....\fcl-master\include\fcl\math\constants.h line number 49

I am gettin 591 errors due to this.. Any body has the same issue?

[2016-10-30 20:43] sherm1 commented on #184
I believe you need VS 2015 to compile successfully.

[2016-10-31 01:18] xendian commented on #184
Thanks!!.I will try..it seems visual 2013 compiler has a problem with  the constexpr

[2016-11-06 09:34] xendian commented on #183
I have also similar issue..fcl.lib is generated without any problem. But whenever I try to build the test_fcl_collision or any test projects, I am getting linker errors as the following;

1>------ Build started: Project: test_fcl_collision, Configuration: Debug x64 ------
1>fcl.lib(gjk_libccd.obj) : error LNK2019: unresolved external symbol __ccdSupport referenced in function "int __cdecl fcl::det

[2016-11-07 07:01] arzezniczak commented on #183
Errors are exactly the same as in my case.
Did you try to resolve them the same way as I explained?

[2016-11-08 06:59] ytzhao opened #186 "Error: template argument required for 'class AABB'"
Hi,
I'm using FCL for manipulator collision check, this library is very new to me. I followed the instructions to install this library on Ubuntu16.04 without ROS. I used 'general_test.cpp' for testing in Codeblocks with following build message:
'error: template argument required for 'class AABB''.

I've already included the library path and .h files in the project. I had several tries and found th

[2016-11-08 16:30] xendian commented on #183
I solved the problem;
All the errors are coming from libccd dependency. The libccd does not export(at least the version I have) the
**void __ccdSupport(const void *obj1, const void *obj2, const ccd_vec3_t *dir, const ccd_t *ccd, ccd_support_t *supp);**

and **ccd_vec3_origin** variable

What you need to do is to export this function and the variable. So put **_ccd_export** before the definitions s

[2016-11-08 16:32] xendian commented on #183
I think if this solves your problem as well, we could close the  issue

[2016-11-10 14:27] Nic-G opened #187 "libfcl.so binary crashes when processor does not support avx flag"
The libfcl.so.0.5 binary appears incompatible with some processor architectures; we think the current distributed binary requires that the processor supports 'avx'.  Compiling the fcl source locally fixes the problem.

Problem occurred on Ubuntu Linux 16.04.  There are more details at http://answers.ros.org/question/247652/crash-running-moveit-move_group-node/ as I discovered this while running th

[2016-11-10 16:11] jslee02 commented on #186
`general_test.cpp` hasn't been updated for the new API (FCL 0.6). It was an oversight. I'll create a PR that updates the test.

The templated one is the newest version. I guess the non-templated one is the old version that's installed in the system directory.

[2016-11-10 16:24] jslee02 commented on #187
I believe this is because of the [use of `march=native`](https://github.com/flexible-collision-library/fcl/blob/master/CMakeLists.txt#L55). It enables all the available SIMD instructions of the machine that builds the source. This is dangerous since it's machine dependent.

I suggest either of (i) disabling `FCL_USE_SSE` option by default or (ii) disabling the option when building the debian packa

[2016-11-10 16:31] jslee02 commented on #183
If this is a problem of `libccd`, it would be great someone report this to the upstream.

[2016-11-10 18:02] jslee02 commented on #187
Hm, I noticed that [`FCL_USE_SSE` is disabled in FCL 0.5 by default](https://github.com/flexible-collision-library/fcl/blob/0.5.0/CMakeLists.txt#L49). Do you know how the `libfcl.so.0.5` was built? Is it installed from debian or built from source?

[2016-11-10 19:49] davetcoleman opened #190 "Error: "too many iterations in Jacobi transform""
I get this error when using FCL with MoveIt! on rare occasion, and I haven't been able to understand why. From [matrix_3f.h](http://gamma.cs.unc.edu/FCL/fcl_docs/webpage/generated/matrix__3f_8h-source.html) in the FCL code I see the error message:

Any hints would be appreciated in how to avoid this from segfaulting my program. Note I'm using ROS Kinetic, thus FCL 0.5

[2016-11-10 22:43] davetcoleman commented on #187
ROS had to build its own debians for FCL 0.5, following the logic outlined [here](http://discourse.ros.org/t/fcl-0-5-packages-for-moveit-in-kinetic/364) and [here](https://github.com/flexible-collision-library/fcl/issues/137). I think we'll need to ask @j-rivero to re-release FCL 0.5 for ROS Kinetic with ``FCL_USE_SSE`` disabled.

[2016-11-11 08:19] ytzhao commented on #186
Thank you! Anyway, I reinstalled this library with more stable version 0.5, OpenRAVE and OMPL depend on the former version.

[2016-11-11 08:19] #186 closed

[2016-11-11 08:28] gavanderhoorn commented on #187
@davetcoleman wrote:

SSE should be fine: everything from a Pentium 3 has it. `-march=native` is most likely the problem here: only Sandy Bridge processors (for Intel, AMD has them as well, can't remember which products) and up have those.

Disabling SSE blanketly would seem like it could potentially incur quite a performance hit: I can imagine FCL can benefit from vectorisation quite a bit. SSE c

[2016-11-11 08:35] davetcoleman commented on #187
Processor flags are totally beyond my expertise, I will leave it to you all

[2016-11-11 09:56] mikeferguson commented on #187
I concur with keeping SSE and disabling the native architecture flag, we faced this with MoveIT about two years ago, did the same, and have no further issues.

[2016-11-12 17:36] j-rivero commented on #187
Pull request #191 should improve the situation or at least provide more descriptive names while keeping the current functionality and add an option to enable only a generic SEE set of flags.

For fcl0.5, I'm going to patch the package and regenerate all them for the multiples platforms. After that we can upload it to the ros repo to fix the current problem. I will update this issue as soon as I ha

[2016-11-12 19:55] j-rivero commented on #187
I've rebuilt fcl0.5 packages (version 0.5.0-3) using a patch to pass only [a subset of the SSE flags in amd64](https://github.com/j-rivero/fcl0.5/commit/7d8323e2fe963e4117fcb473bb6a936d6174c446).

* [Debian/Jessie packages](http://build.osrfoundation.org/job/fcl0.5-pkg_builder-master-generic/45/)
* [Ubuntu/Wily packages](http://build.osrfoundation.org/job/fcl0.5-pkg_builder-master-generic/43/)
* [

[2016-11-13 20:40] davetcoleman commented on #187
I setup a temporary Travis test for these new debians with MoveIt!, though I don't have the machine that was previously causing problems so I can only verify it hasn't broken anything new:

https://github.com/davetcoleman/moveit_kinetic_cpp11

Running now...

[2016-11-15 04:12] xendian opened #192 "Help needed"
Can anyone suggest an example code/documentation for the API for two 3D convex mesh collision (with GJK) with fcl?..we would need penetration depth and direction

Thanks!.

[2016-11-15 18:05] xendian commented on #184
yes, visual studio 2015 solved the issues.

[2016-11-15 18:05] #184 closed

[2016-11-21 16:38] jslee02 commented on #183
Is this related to [this](https://github.com/danfis/libccd/pull/29/files)?

[2016-11-21 16:48] davetcoleman commented on #187
Should we regenerate those debians with the changed flag name?

[2016-11-21 18:49] j-rivero commented on #187
It should produce the same effect than the patch applied to generate the current packages, so I would vote for no unless we find a good reason to do it.

[2016-11-21 20:16] davetcoleman commented on #187
Since my test Travis build with those debians passed, we're ready for @tfoote to upload them to the ROS repo

[2016-11-22 07:56] arzezniczak commented on #183
Yup, I've posted this issue [here](https://github.com/danfis/libccd/issues/26) and it looks like this should resolve this issue in FCL too.

[2016-11-28 13:10] talregev opened #194 "Merge 2 FCL mesh to 1 model"
How I merge 2 [FCL mesh][1] to 1 model?

Regards,
Tal Regev.

[1]:http://docs.ros.org/fuerte/api/fcl/html/classfcl_1_1BVHModel.html

[2016-11-28 13:45] jmirabel commented on #194
Changing two lines of the example code in the [readme](https://github.com/flexible-collision-library/fcl#interfaces), I get this:
[code]
Did you try it ?

[2016-11-28 13:47] talregev commented on #194
I will try now! :)

[2016-11-28 13:54] talregev commented on #194
modelA.vertices, modelA.tri_indices are pointers.
Need to hold them in a temp objects.

[2016-11-28 13:57] jmirabel commented on #190
Could you give the input matrix generating the error ?
It would be helpful to see if the matrix actually fits the requirements of the Jacobi algorithm.

[2016-11-28 14:02] talregev commented on #194
I am using fcl-0.5 api.
Change your code example to this:

[code]

Can you verify it what i meant to do?

Thanks for your help,
Tal.

[2016-11-28 14:41] jmirabel commented on #194
From my basic knowledge of `FCL`, it should.

[2016-11-29 06:48] davetcoleman commented on #190
@jmirabel thanks for following up. i eventually realized I was creating a MoveIt! RobotState will null values, due to another bug, that was getting converted into a FCL robot and the only error I was getting was this one. if i see this problem again, i can open a pull request that would improve FCL's warning by testing if null values might be the case and telling the user

[2016-11-30 01:02] tfoote commented on #187
Sorry i'm out of the loop on this. Do these still need to be integrated?

Also @j-rivero could you build armhf and armv8 versions? We seem to be failing on Xenial armv8 due to missing fcl.

http://build.ros.org/view/Kbin_uxv8_uXv8/job/Kbin_uxv8_uXv8__moveit_core__ubuntu_xenial_arm64__binary/38/console

[2016-11-30 17:30] j-rivero commented on #187
Summary:
- amd64, arm64 [Debian/Jessie packages](http://build.osrfoundation.org/job/fcl0.5-pkg_builder-master-generic/45/)
- amd64,i386 [Ubuntu/Wily packages](http://build.osrfoundation.org/job/fcl0.5-pkg_builder-master-generic/43/)
- amd64,i386 [Ubuntu/Xenial packages](http://build.osrfoundation.org/job/fcl0.5-pkg_builder-master-generic/44/)
- arm64, armhf [Ubuntu/Xenial packages](http://build.os

[2016-12-05 10:33] elliotcm opened #195 "Performance characteristics of different object shapes"
It would be great to have some guidance as to which object shapes are faster to provide collisions with that others, and whether these change with different collision approaches.  It's fairly clear that box collision will be faster than mesh, but it takes some specialist knowledge to know if there's significant differences between cylinder and capsule.

I'm happy to update the docs if you can prov

[2016-12-28 16:38] gavanderhoorn commented on #187
I just ran into this again. @tfoote: have the new packages @j-rivero mentions been synced to `packages.ros.org`?

[2017-01-25 18:22] Remotion opened #201 "Extremely slow compilation times."
Hi,

First FCL appears to be very promising library.

Unfortunately compilation times of every *.cpp file that includes fcl and call distance() or collision function increases may be by ~100 times.
So instate of seconds one need to ways many minutest for every single *.ccp file to be ready compiled,
at lest on Windows using Intel Compiler.

Apparently this 3 huge header files are the source of the

[2017-01-25 21:28] jslee02 opened #202 "Failing tests on macOS (> OS X 10.10)"
There are several tests failing for particular configurations: macOS (> OS X 10.10) + release mode + double scalar type. These tests are disabled by #199 .

[2017-02-05 18:53] Remotion commented on #201
Even better would be to make FCL conditionally header only library just like it is is done in  [fmt](https://github.com/fmtlib/fmt).

Add FCL_HEADER_ONLY predecessor macro that can enable and disable this.

Also ability to use float or double as default would be nice to have. Some times float is simple enough.

[2017-02-05 19:00] jslee02 commented on #201
FCL is already conditionally header only library. By default, `double` type is explicitly instantiated (see [this](https://github.com/flexible-collision-library/fcl/blob/master/src/narrowphase/collision.cpp#L44) for example). I'm open to using the explicit instantiation for `float` type as well.

[2017-02-06 23:55] Remotion commented on #201
Hm, at first it appears to be so but then there are at least plane.cpp, triangle.cpp, BV_node_base.cpp that prevent it to work as header only library.

Well I have found now some related discursion [#160](https://github.com/flexible-collision-library/fcl/issues/160) and [#165](https://github.com/flexible-collision-library/fcl/pull/165)

So this way FLC is using  `extern template` from C++ to reduc

[2017-02-07 00:18] jslee02 commented on #201
:+1: for adding explicit instantiation for both of `double` and `float`.

[2017-02-07 13:09] Remotion opened #207 "Add segment, quadrangles and tetrahedra support."
It would be great to have support for line segment (eges), quadrangles and tetrahedra in FLC.

Initial support would be easy to add, for segments one could used degenerated triangle test on the end and later may be replace with proper line distance test.

Quadrangles and tetrahedra both have 4 points but at he end will need different test routines.

For Quadrangle 2 triangle tests would be perform

[2017-02-07 13:12] Remotion commented on #201
It would be better to add `extern template` for float at the same place as for `double`.

Something like distance_f.cpp for `float` could be added to make it compile fast and using all CPU cores.  What do you think ?

[2017-02-09 12:41] MapleNSteel opened #209 "make error while compiling fcl on ubuntu 16.04."

[2017-02-09 12:42] MapleNSteel opened #210 "make error while compiling fcl on ubuntu 16.04."

[2017-02-09 12:42] #209 closed

[2017-02-13 13:58] voido commented on #187
Hi @tfoote: We ran into the same issue, is there a sync to packages.ros.org planned in the near future?
Thanks in advance.

[2017-02-14 07:35] davetcoleman commented on #187
+1

[2017-02-14 12:14] gavanderhoorn commented on #187
@j-rivero, @tfoote: could you guys please sync on how to get this resolved?

As far as I can tell, @j-rivero did 'his part', but the packages still need to be copied over to the ROS package repositories.

Even if we don't feel that MoveIt is important, building packages with `-march` is just really not a good idea, so this problem should be resolved.

[2017-02-15 01:29] tfoote commented on #187
@voido thanks for verifying that this fixes the builds.

@j-rivero I pulled the arm64 and armhf images from here: http://build.osrfoundation.org/job/fcl0.5-pkg_builder-master-generic/46/ which above looks like a copy and paste with the same url to job 44.

I manually retriggered the moveit_core build which was failing previously and it's picked up the new packages: http://build.ros.org/view/Kbin_u

[2017-03-13 17:46] MariaRamos89 commented on #210
I have the same error, did you solve it?

[2017-03-30 11:41] zhiansht commented on #134
have the same problem?can anyone  tell me what is wrong?

[2017-04-05 15:28] a-price commented on #106
Has there been any progress on this issue?

[2017-04-05 22:29] a-price commented on #106
One (possibly the?) issue seems to happen around [line 820](https://github.com/flexible-collision-library/fcl/blob/a91b931e9824813b31474e721b86d52fb11ba1b9/include/fcl/narrowphase/detail/traversal/collision/intersect-inl.h#L820) of intersect-inl.h. For the case of co-planar triangles, where both penetration depths are zero, the algorithm just returns the vertices of whichever triangle was passed i

[2017-04-06 08:53] JenniferBuehler commented on #106
I was actually going to look into this soon, but probably won't get to it before in a couple of weeks time... if there hasn't been any resolution of this until then, I'll be posting here. Will follow your lead of line 820, thanks for sharing

[2017-04-06 16:29] a-price commented on #106
I've forked a copy and added a coplanar triangle test to the [issue106](https://github.com/a-price/fcl/blob/issue106/test/test_fcl_coplanar_triangles.cpp) branch there, which is able to reproduce the error.

One potential fix would be to handle coplanar triangles separately, returning up to 6 contact points rather than the 2 in the current setting. I suspect there's still going to be a problem wit

[2017-04-10 18:11] a-price commented on #177
For what it's worth, 2e3d262195fbfd5369e5aa00fb6c6c7c0ae855de compiles fine for me on 16.04.

[2017-04-25 01:48] LinYuChi commented on #210
I also had this problem when I used the devel version of octomap. After I changed to octomap v-1.8.1, the problem is fixed.

[2017-05-09 09:13] xwavex commented on #210
octomap v1.9.0 is also not compatible

[2017-06-01 17:46] jslee02 opened #217 "test_fcl_capsule_box_1 fails with single-precision libccd"
This issue was discovered in #215.

[2017-06-01 18:56] avalenzu commented on #217
Note that it doesn't fail in master because the relevant lines are commented out.

[2017-06-02 17:56] avalenzu commented on #127
This should be resolved by the changes in #215.

[2017-06-15 20:17] avalenzu opened #218 "Some tests fail under Clang in when BUILD_TYPE=Release"
Executing the following
[code]
Yields
[code]
These appear to be due to a strange interaction between Clang and Eigen inside `box_box-inl.h`. The result is false negatives in box-box intersection tests (missed contacts). I'm investigating possible solutions. I notice that the Travis CI tests clang in Debug mode, but not in Release. Could we consider adding that?

[2017-06-15 20:21] jslee02 commented on #218
I believe [we test clang builds in Release mode as well](https://github.com/flexible-collision-library/fcl/blob/master/.travis.yml#L21). Hm, am I missing something here?

[2017-06-15 21:35] avalenzu commented on #218
No, I just missed that. Maybe it's a difference in clang versions? The test
results I posted were with 3.9. I'm not sure what Travis uses.

On Jun 15, 2017 4:22 PM, "Jeongseok Lee" <notifications@github.com> wrote:

I notice that the Travis CI tests clang in Debug mode, but not in Release.
Could we consider adding that?

I believe we test clang builds in Release mode as well
<https://github.com/fl

[2017-06-15 22:24] jslee02 commented on #218
FYI, [Travis uses 3.5.0](https://travis-ci.org/flexible-collision-library/fcl/jobs/243278093#L673).

[2017-06-20 02:46] mmanipulator opened #219 "CMake error while compiling FCL in 16.04."
I am getting the following error when I try to compile FCL using cmake as per https://github.com/flexible-collision-library/fcl.

[code]
The above mentioned files actually exist. Any hints on this ?

Thank you !

[2017-06-20 03:01] #219 closed

[2017-06-22 17:07] mmanipulator opened #220 "Error when I include geometric_shapes.h"
Hi,
I am getting the following error whenever I include **geometric_shapes.h** or any other header file in the **shape** folder. I compiled the library as instructed in the readme file.
[code]
Any suggestions on what might be the issue ?
Thank you !

[2017-06-22 17:14] traversaro commented on #220
Hi @mmanipulator ,
    could you provide some information on the platform (operating system, compiler) that you are using?
I think this could help the community to help you, thanks!

[2017-06-22 17:24] shanthakar commented on #220
@traversaro thanks for the reply. I have edited the post to include the details you mentioned.

[2017-06-29 13:55] BryceStevenWilley commented on #220
I ran into a similar issue earlier.  Fcl 0.5.0 was installed on on the whole system (`/usr/include`), and fcl from HEAD installed locally (`~/Desktop/fcl`).  The library that was using fcl was only compatible with 0.5.0.

Notice that when you build fcl from head, there is no `shapes/geometric_shapes.h`. If your code is trying to include it, then most likely, your compiler won't find the .h file in

[2017-06-29 19:37] BryceStevenWilley opened #221 "Signed distance doesn't work on BVH Models."
According to the comment at https://github.com/flexible-collision-library/fcl/blob/master/include/fcl/narrowphase/distance-inl.h#L140, there should be a work around in place to calculate negative distance for BVH meshes (even if the closest points aren't correct), but in practice, even `enabling request.enable_signed_distance = true` doesn't calculate signed distance, and the returned min_distance

[2017-07-31 01:13] yswhynot opened #223 "Fail to enter callback function for collision checking"
I've been debugging for the reason of not entering the collision checking callback function, and find that it returned at [this line](https://github.com/yswhynot/fcl/blob/fcl-0.3/src/broadphase/broadphase_dynamic_AABB_tree.cpp#L435) for checking collision between two `BroadPhaseCollisionManager`.
May I know is it that the two collision manager should have the same root? i.e. if I'm calculating the

[2017-08-01 21:00] manuelli opened #224 "thread safety of collide"
I am wondering about the thread safety of the `collide` function. In particular if I would like to construct a two `BVHModel<OBBRSS>` objects (call them `o1` and `o2`). Then I want to repeatedly query whether `o1` and `o2` are in collision for different transforms `Transform3f tf`. Can these calls to `collide(o1, o2, request, result)` be performed in parallel? In particular is is thread safe to us

[2017-08-03 07:33] Zeta611 commented on #210
I have the same error on macOS Sierra.
[code]
octomap v1.9.0

[2017-08-03 14:49] avalenzu opened #225 "Inconsistent interpretations of capsule origin"
Where is the origin of an `fcl::Capsule` geometry? [Lines 62 - 65](https://github.com/flexible-collision-library/fcl/blob/master/include/fcl/geometry/shape/capsule-inl.h#L62) of [`capsule-inl.h`](https://github.com/flexible-collision-library/fcl/blob/master/include/fcl/geometry/shape/capsule-inl.h) appear to indicate that the origin is at the center of the line segment that defines the capsule:

[

[2017-08-03 14:53] avalenzu commented on #225
@jslee02, I'm assigning this to you to confirm that I'm not crazy. Please re-assign to me if you agree that this is an actual bug.

[2017-08-03 22:17] BryceStevenWilley commented on #210
Looked into this error a little more, it's happening because of some error in `find_package(octomap)`.

Specifically, octomap-config.cmake for 1.9.0 actually sets the version number, which it should be doing, and octomap-config.cmake does *not* set the version.

This seems to be addressed in the [top level CMakeLists.txt](https://github.com/flexible-collision-library/fcl/blob/master/CMakeLists.txt

[2017-08-09 14:44] avalenzu commented on #223
In the line you linked to, the "root" refers to the root of the bounding volume hierarchy (BVH) used by the broadphase manager, not the root of a kinematic chain. The root of a BVH is a bounding volume that contains all of the geometries in the hierarchy. If `collisionRecurse` returned at the line you indicated, that means that the roots of the two broadphase managers' BVHs do not overlap. This, i

[2017-08-09 14:47] avalenzu commented on #220
@shanthakar, did @BryceStevenWilley's reply resolve your question?

[2017-08-09 16:49] jslee02 commented on #225
I also believe they are not inconsistent; `capsule_capsule-inl.h` needs to be fixed.

Re-assigning to you as I see it's an actual bug. :smile:

[2017-08-09 20:46] AhmedElsafy opened #226 "Make error relocation R_X86_64_32 against `.text' can not be used when making a shared object; recompile with -fPIC /usr/local/lib/libccd.a: error adding symbols: Bad value"
I keep getting an error when I am running the 'make' command for installation

Linking CXX shared library ../lib/libfcl.so
/usr/bin/ld: /usr/local/lib/libccd.a(ccd.o): relocation R_X86_64_32 against `.text' can not be used when making a shared object; recompile with -fPIC
/usr/local/lib/libccd.a: error adding symbols: Bad value
collect2: error: ld returned 1 exit status
make[2]: *** [lib/libfcl.so

[2017-08-11 17:48] KevinKDufour commented on #127
Hi, I am doing some distance calculations using ROS and MoveIt with the package ros-indigo-fcl however the nearest points are still wrong. Will the ros-indigo package be updated to the changes ?

[2017-08-16 03:18] raysworld commented on #226
same problem. Any solutions?

[2017-08-16 04:14] traversaro commented on #226
K

[2017-08-16 19:54] AhmedElsafy commented on #226
I found out that the library was installed in a different path, so i
included the path manually in the CMakeList.txt file

On Wed, Aug 16, 2017 at 6:14 AM, Silvio Traversaro <notifications@github.com

[2017-08-17 09:14] raysworld commented on #226
I solved this problem by checking 'enable-statics' option using cmake-gui

[2017-08-17 17:25] guihomework commented on #122
@jslee02  I am so sorry to have take a year to answer.
I just checked in our system, and I don't see the issue any longer as seen in these pictures.

![moveit_fcl_collision_fixed_cyl-cyl_collision](https://user-images.githubusercontent.com/6583181/29424868-90d3f314-8381-11e7-8106-7a63c965a418.png)
![moveit_fcl_collision_fixed_cyl-cyl_collision2](https://user-images.githubusercontent.com/6583181/29

[2017-08-17 17:25] #122 closed

[2017-08-18 03:20] jwatson-utah-edu commented on #179
I have a similar problem:

[code]

Ubuntu 16.04
ROS Kinetic
FCL Version: 0.5.0-271-gf6a73c7  ,  Commit: f6a73c752cd5685f881ef25a1345511ca1f2408a
libccd Version: v2.0-37-g64f02f7  ,  Commit: 64f02f741ac94fccd0fb660a5bffcbe6d01d9939

[2017-08-18 11:21] traversaro commented on #226
The problem here is that your are trying to link a shared library build of fcl with a static library build of ccd that was not compiled with the Position Independent Code option (see https://en.wikipedia.org/wiki/Position-independent_code and https://cmake.org/cmake/help/v3.9/prop_tgt/POSITION_INDEPENDENT_CODE.html ).
If you compiled ccd yourself, possible solution to this include:
* Remove the st

[2017-09-13 22:31] KevinKDufour opened #227 "Wrong closest points with fcl-0.3"
Hello,

I am currently using fcl with the ros-indigo-fcl package (that I am forced to use as I also use MoveIt!) and I am facing the same issue, already reported here https://github.com/flexible-collision-library/fcl/issues/127, with wrong nearest points. I know this issue has been recently resolved in the master branch but not for the 0.3 version. Would it be possible to update the ros-indigo-fcl

[2017-09-14 12:12] marc1706 commented on #221
It seems to me like the workaround is actually never hit due an incorrect assumption at https://github.com/flexible-collision-library/fcl/blob/master/include/fcl/narrowphase/distance-inl.h#L148.

As the comment on line 140 states the min distance will be 0 when using BVH or octree. However, the check on line 148 will evaluate as false as 0 is clearly not less than `static_cast<S>(0)` and the worka

[2017-09-17 12:29] FaboNo opened #229 "fcl 0.4.0 versus fcl 0.5.0"
Dear All

I wrote a program which was using fcl 0.4.0 (mainly to test collisions with an octomap created by another program) and when I tried to to compile it with 0.5.0  I had many errors mainly because many include files either moved or disappeard (fos instance transform.h or Quaternion3f). Is there any document I can consult to see how to "port" from 0.40 to 0.5.0?
Looks like many things change

[2017-09-19 13:04] #229 closed

[2017-09-22 18:25] BrettHemes commented on #221
@marc1706 I found that the test on `res` is also blocking.  I do not know the exact functionality of the lookup function but it seems to be returning 0 as well when min_distance is 0.

I added an additional <= to the if check in addition to that of #228 and was able to get negative distances returned.  The resulting if check is as follows:
[code]

not sure if this is correct but it was the only wa

[2017-10-06 02:51] mmatl commented on #70
Bumping this: I've forked jf---'s repo, cleaned it up to more closely match FCL 0.5.0's interfaces, added some functionality, and put it on PyPi (you can pip install it -- `pip install python-fcl`). Currently only supports Linux, but can quickly be extended to work with OS X and Windows with a tiny bit of work.

[2017-10-06 08:24] harshmdeshpande opened #232 "Linker errors"
I know this question has been asked many times, but the solutions discussed doesn't seem to solve it. Also it doesn't help that I am new to writing `CMakeLists.txt`

So I have compiled ´libccd´ with the following command:
`cmake -G "Unix Makefiles" -DENABLE_DOUBLE_PRECISION=ON -DBUILD_SHARED_LIBS=ON -DBUILD_TESTING=ON ..`

Then I compiled fcl with simply `cmake ..`

Next, my `CMakeLists.txt` looks

[2017-10-09 08:32] harshmdeshpande commented on #232
I added the following lines in the CMakeLIsts.txt:

[code]
This solved the earlier problem.

Now my code looks like this:

[code]
But now I get linker errors like:
[code]

[2017-10-09 13:54] harshmdeshpande commented on #232
Solved it with
`target_link_libraries(hello_fcl fcl ${CCD_LIBRARIES}`

[2017-10-16 06:09] marc1706 commented on #221
You're correct that res also seems to be blocking. The distance function seems to return `result.min_distance` by default. As a result of that checking `res` and `result.min_distance` is not needed. I've updated my pull request accordingly.

[2017-10-17 20:48] wxmerkt commented on #171
@jslee02 Do you have an update on this? (I may have missed the PR). Running off the current master, we noticed that this behaviour still exists.

[2017-10-20 04:16] hjamal3 commented on #133
In the new FCL your header files have all moved around, so be careful there.

[2017-10-21 20:34] etrigger opened #234 "Detecting the self-penetration of a trimesh(could be manifold or non-manifold)"
I have a single mesh (could be manifold or non-manifold). Here is the sample mesh:
(obj format)https://drive.google.com/open?id=0B-EYhEkO80D0RU1Id0FTUVFtOWc
(off format)https://drive.google.com/open?id=0B-EYhEkO80D0S0ZFTGliNmRtMzQ

I will perform some deformation on this mesh. Then I need to check if the deformed mesh has penetrated with itself (see the link below):
https://drive.google.com/open?i

[2017-10-23 23:18] edrumwri opened #235 "Data structure for polyhedra"
Existing data structures in FCL do not seem to support boundary representations of polytopic solids (i.e., polyhedra in 3D). Are there any plans to incorporate such a representation? If not, how receptive would the FCL community be to such a representation? TRI is specifically interested in such a data structure that supports:

* extremal point queries
* volume calculations
* intersection construc

[2017-10-24 08:53] JenniferBuehler commented on #235
Absolutely interested, need that as well for volume/intersection calculations. More specifically when meshes are not a sufficient representation because they are no solids, e.g. to find intersecting objects (i.e. if one object is a mesh and the other lies completely inside it, but it doesn't intersect its surface, no intersection is found). I think especially because of this shortcoming of surface

[2017-10-27 17:26] mxgrey commented on #15
It looks like @jslee02 finished [a pull request](https://github.com/flexible-collision-library/fcl/pull/52) that's relevant for this issue, but I suppose the PR might not have been enough to make the cylinder primitive work as we need it to.

I don't see any open issues on FCL about getting multiple contact points for the cylinder, so maybe it would be a good idea for us to open one?

I'm guessing

[2017-10-31 21:25] edrumwri commented on #235
Excellent, thanks! We're still evaluating data structures but will start working on this shortly.

[2017-11-06 20:42] wxmerkt opened #238 "Travis OS X cannot find libccd"
... which is the underlying reason for the failure of Travis in the most recent PRs.

[2017-11-07 00:51] wxmerkt commented on #221
There is a case where adding this new assumption can lead to a segmentation fault: ``res`` can return ``-1`` if the GJK solver cannot find an intersection - the check ``<= 0`` would go into the fake-nearest-point computation and then segfault because the ``assert`` statements are not obeyed in Release mode and an access to an invalid memory point (``pos``) made if the index is still as initialised

[2017-11-22 22:43] manuelli commented on #210
I just ran into this as well. If FCL depends on a specific octomap version it would be nice if that was mentioned in the README

[2017-11-29 20:15] JenniferBuehler commented on #235
Quick question on this as I'm just thinking about this again, are you considering to support concave objects, or should it be just convex polyhedra?

[2017-11-29 20:17] edrumwri commented on #235
My recollection of the literature is that typical algorithms are predicated
on the polyhedra being convex, and that non-convex polyhedra can be
processed after decomposition into convex pieces.

--------------------------------
Evan Drumwright
Senior Research Scientist
http://positronicslab.github.io
Toyota Research Institute
Palo Alto, CA

On Wed, Nov 29, 2017 at 12:15 PM, Jennifer Buehler <notif

[2017-11-30 17:11] SeanCurtis-TRI opened #241 "Architectural question: CollisionCallBack const-ness"
I note that the `CollisionCallback` type (and `DistanceCallBack`) take *non*-`const` collision objects as arguments. This has broad architectural ramifications that the stack of functions which ultimately involve invoking the callbacks need access to non-const members.

I cite a particular example (https://github.com/flexible-collision-library/fcl/blob/master/include/fcl/broadphase/broadphase_dyna

[2017-11-30 19:34] sherm1 commented on #241
Seems wrong to me!

[2017-12-01 17:20] edrumwri commented on #235
Exactly.

--------------------------------
Evan Drumwright
Senior Research Scientist
http://positronicslab.github.io
Toyota Research Institute
Palo Alto, CA

On Fri, Dec 1, 2017 at 9:10 AM, Jennifer Buehler <notifications@github.com>
wrote:

[2017-12-01 17:22] JenniferBuehler commented on #235
Ok that makes sense :)

[2017-12-30 19:45] Levi-Armstrong opened #242 "Is it possible to get a signed distance using version 0.5?"
I am currently using version 0.5 and I am looking for a way to get a signed distance. I noticed that the master branch appears to have a way to get this information but I don't see anything in version 0.5.

[2018-01-03 08:10] mgkwon opened #243 "GJK with libccd hangs sometimes"
**_fcl 0.5
libccd 2.0
ode 0.14_**

When I use GST_LIBCCD for narrowphase collision, there is a chance that the program might hang there forever. ccdMPRIntersect function causes this problem. Here is the link to a related issue: [link](https://github.com/danfis/libccd/issues/7). Seems that it goes down to ODE. I'm not sure if this problem is actually fixed or not. I couldn't find further updates re

[2018-01-03 15:14] traversaro commented on #238
This should be fixed as soon as https://github.com/Homebrew/homebrew-core/pull/13762/files is merged.

[2018-01-04 12:24] j-rivero opened #244 "fcl::distance() erroneous penetration depth query when using solvers different than INDEP"
The issue was originally found by @avalenzu, I just reporting it here so we can track it and help others that find this problem. The original report can be read at https://github.com/RobotLocomotion/drake/pull/7417#issuecomment-353666215, I reproduce part of it here:

Does appear to be a regression due to flexible-collision-library/fcl@cd2c6a1. Prior to that commit, the `fcl::distance()` function

[2018-01-04 14:31] Levi-Armstrong commented on #244
I am not sure if this related but I have been recently upgrading MoveIt's FCL implementation to take advantage of the signed distance but when checking two object types (OT_BVH) it is not returning a signed distance.

[2018-01-04 16:46] BryceStevenWilley commented on #244
@Levi-Armstrong I believe what you're talking about is #221, and seems to only deal with a few specific if statements unrelated to this issue.

[2018-01-04 16:54] Levi-Armstrong opened #245 "How to get the signed distance when checking a mesh to mesh?"

[2018-01-04 17:37] BryceStevenWilley commented on #244
As a starting point for anyone who wants to investigate what the "something else" is doing, I've tracked the distance calculation to [here](https://github.com/flexible-collision-library/fcl/blob/master/include/fcl/narrowphase/detail/convexity_based_algorithm/gjk_libccd-inl.h#L1297), which is based on the nearest edge [EPA calculation](https://github.com/flexible-collision-library/fcl/blob/master/i

[2018-01-06 17:39] k-maheshkumar commented on #17
I also need the normal direction along which collision might occur.
Can you show me an example, how to calculate it?.

[2018-01-08 17:48] SeanCurtis-TRI opened #246 "Cloneable geometry, collision objects, and broadphase algorithms"
Currently, there is no mechanism in place for allowing the cloning of the various data structures involved in a query. Thus, any downstream applications that need to clone an already existing structure (e.g., `DynamicAABBTreeCollisionManager`) will need to handle all of the cloning by hand.

[2018-01-17 00:18] Levi-Armstrong opened #247 "Help explaining the argument plane_dis for fcl::Convex?"
Hello, I am trying to figure out what the argument plane_dis for the creating the shape fcl::Convex.

[2018-01-17 00:26] Levi-Armstrong commented on #247
Never mind I figured it out.

[2018-01-17 00:26] #247 closed

[2018-01-19 04:43] Levi-Armstrong opened #248 "When creating Convex Shape the aabb is always inf."
I believe the issue resides [here](https://github.com/flexible-collision-library/fcl/blob/master/include/fcl/geometry/shape/convex-inl.h#L101-L102).

Current
[code]

Fixed
[code]

[2018-01-19 04:52] #242 closed

[2018-01-19 07:31] woodychow opened #249 "Eigen type vectors need to use Eigen aligned allocator"
All vectors that contain Eigen type should use Eigen::aligned_allocator
http://eigen.tuxfamily.org/dox-devel/group__TopicStlContainers.html

For example
[code]

Am I missing something? I can fix all usages of Eigen vectors like this. If you have something else in mind, could you please let me know?

[2018-01-19 14:23] curds01 commented on #249
It's worth noting that this *particular* example doesn't seem to apply. the documentation you linked to states:

If you follow the link to the [fixed-sized vectorizable](http://eigen.tuxfamily.org/dox-devel/group__TopicFixedSizeVectorizable.html) objects, `Vector3` is not included.

So, now it is my turn to ask, "Am I missing something?"

[2018-01-19 19:49] Levi-Armstrong commented on #248
I am currently testing a fix and will submit a PR soon.

[2018-01-22 00:02] woodychow commented on #249
Oh sorry. I didn't realize Vector3 is not one of the fixed sized vectorizables. Thank you very much.

[2018-01-22 00:02] #249 closed

[2018-01-24 07:23] adamhall commented on #70
@mmatl Total noob here...How would I go about installing this on windows. I tried through conda as well but the package wasn't available through the current channels (not 100% sure what that means).

[2018-01-28 03:27] Levi-Armstrong opened #252 "When using fcl <double> a lot of checks silently fail."
I was running in to several issues when using the latest version of with double precision.  It turns out even if use the template version double you must pass the cmake argument -DCCD_DOUBLE=True so libccd uses double precision. If you don't pass this a lot of checks silently fail be cause some calculations are done using single precision which you can imagine causes a lot of issues.

[2018-02-02 20:28] BenTarman opened #253 "Race Condition in collision.cpp file on fcl::collide function"
Calling fcl::collide function isn't thread safe because of a shared state in the fcl::CollisionFunctionMatrix<GJKSolver> in the collision.cpp file.

How to reproduce
=============
To reproduce this issue, two fcl::CollisionObjects with the same shape are created. Calling the fcl::collide function on these objects in separate threads cause race conditions. See the attached code.

Problem descriptio

[2018-02-09 10:21] k-maheshkumar commented on #132
Hey, I just checked out the branch fcl-0.5 and tried to build, but got the same error. Please help to build the package.
Thank you.

[2018-02-12 16:48] SlightlyCyborg opened #254 "Master/0.6 should be bumped to 1.0 since it introduces breaking changes."
The header file structure was changed in 0.6, which means it should be bumped to 1.0 at least.

Compiling dart with the master of fcl is not possible, and now I am wondering if I should use 0.3, 0.4, or 0.5.

[2018-02-12 16:53] jslee02 commented on #254
I believe 0.x (0 major version) doesn't guarantee API compatibility until it becomes 1.0.0 or greater. Please report to DART repo if you have any DART issues.

[2018-02-12 16:53] #254 closed

[2018-02-12 21:46] adamconkey commented on #97
Hello @sherm1, @SeanCurtis-TRI, I'm curious to know about the status of the development interest now that we're a couple years down the line. Has much development happened and are there plans for further development? Thanks!

[2018-02-12 21:53] SeanCurtis-TRI commented on #97
Best laid plans of mice and men...  Lots of distractions.

The intent is very much to do so. And we've got a couple of patches that need vetting to release into the wild. Things should begin to accelerate in the next few months.

[2018-02-14 20:24] jslee02 opened #256 "Bug in cone-halfspace intersection computation"
See [comment](https://github.com/flexible-collision-library/fcl/pull/255#pullrequestreview-96604421):

This code

https://github.com/flexible-collision-library/fcl/blob/a91b931e9824813b31474e721b86d52fb11ba1b9/include/fcl/narrowphase/detail/primitive_shape_algorithm/halfspace-inl.h#L374

should be

[code]

[2018-02-15 02:18] jslee02 opened #257 "Consider using better tolerance for floating point number comparison"
See [comment](https://github.com/flexible-collision-library/fcl/pull/255#issuecomment-365789075).

[2018-02-21 19:56] SeanCurtis-TRI opened #258 "Interpretation of contact "position" needs to be unified."
In the documetation of [fcl::Contact](https://github.com/flexible-collision-library/fcl/blob/master/include/fcl/narrowphase/contact.h#L71), the `pos` field is simply described as:
"Contact position, in world space".

However, understanding the interpretation of this contact point w.r.t. the normal, the penetration depth, and the colliding geometries is a bit incoherent.

Sometimes, the contact pos

[2018-02-22 02:47] sherm1 commented on #258
For better physical interpretation, where I think we want to get to eventually with these "one point" contact queries is:

4. Calculate the centroid C of the overlap volume, and normal 𝗻. Project C along 𝗻 in both directions to get points p₁ and p₂ on the surfaces of objects 1 and 2, resp. Then _define_ penetration depth d≜|p₂−p₁|.

I don't think we know how to do that yet for most primitives, but

[2018-02-22 15:16] SeanCurtis-TRI commented on #258
I would argue that 1-3 are *equal* approximations of 4. They are all interchangeable. Given one, you can get either of the other two. As such, it is impossible to favor one over another for mathematical reasons. Option 4 is definitely a superior mathematical model (in how it defines `C`). But once `C` and *n* are defined, you can then apply 1-3 as the encoding of `C` and *n* arbitrarily.

That sai

[2018-02-23 00:39] sherm1 commented on #258
@SeanCurtis-TRI and I discussed f2f. We agreed that this would be the best approach for this query:
- This query returns a point p, normal 𝗻, and depth d.
- For a good physical response, the caller may need to know the line segment between "contact points" p₁ and p₂, one on each body. That allows, for example, adjusting the actual contact point based on the relative stiffness of the two materials

[2018-02-23 19:12] SeanCurtis-TRI opened #260 "distance_capsule_box_ccd - test_fcl_capsule_box_1 fails on mac."
PROPOSAL
=========
Merge despite this CI failure until it is fixed. Please respond if you are uncomfortable with this proposal. Also looking for self-assignees to address it (most likely immediate candidates: @SeanCurtis-TRI or @amcastro-tri).

PROBLEM
=========

Possibly related to #217

As of February 2018, PRs are running into CI failures on the indicated test. More particularly, PRs which appa

[2018-03-04 18:40] zplizzi commented on #70
Another bump for @mamoll's wrappers. I've started working with them and they're great! Also, the docs on [that repo](https://github.com/BerkeleyAutomation/python-fcl) are more detailed and useful than any official FCL docs I've seen. Thanks @mamoll!

[2018-03-04 18:45] mamoll commented on #70
@zplizzi, I think you mean @mmatl. I had nothing to do with this. It seems cool, though.

[2018-03-04 18:47] zplizzi commented on #70
Whoops! Updated to fix. Darn autocomplete..

[2018-03-09 17:00] SeanCurtis-TRI opened #263 "Compilation error in "newest" VIsual Studio"
I'm running a "new" version of VIsual Studio and am encountering a new compiler error. Specifically:
[code]
In contrast, this previous version works fine:
[code]

Error message included below (sorry for the difficulty in reading; long list and wide errors are not easily consumed in github code blocks):
[code]

[2018-03-09 19:42] SeanCurtis-TRI opened #265 "Mac release failures -- box-box intersection"
PR #259 introduced code that is apparently failing in CI. It specifically fails in mac release builds. Across *all* tests, no collisions are being reported.

[2018-03-16 04:06] betterfan opened #268 "I can't understand the calculation of Covariance of a set of points in fcl/BVH/BVH_utility.cpp"
anyone can clarify it? thank you ...^-^
void getCovariance(Vec3f* ps, Vec3f* ps2, Triangle* ts, unsigned int* indices, int n, Matrix3f& M)
{
  Vec3f S1;
  Vec3f S2[3];

  if(ts)
  {
    for(int i = 0; i < n; ++i)
    {
      const Triangle& t = (indices) ? ts[indices[i]] : ts[i];

      const Vec3f& p1 = ps[t[0]];
      const Vec3f& p2 = ps[t[1]];
      const Vec3f& p3 = ps[t[2]];

      S1[0] +=

[2018-03-16 13:33] SeanCurtis-TRI commented on #268
Can we assume what that you know what covariance is?

The only *tricky* part of this is the data that you are computing the covariance matrix for. The function is defined in a way to be overloaded. The possible inputs are:

1. A single set of points in R3
2. Two sets of points in R3
3. A set of points defined by a set of triangles
4. Two sets of points defined by a set of triangles (the same trian

[2018-03-16 15:28] sherm1 commented on #268
Wow -- great explanation! That should be in the comments for that code. @betterfan, if @SeanCurtis-TRI's comments were helpful can you submit a PR to add them to the code?

[2018-03-16 15:58] betterfan commented on #268
i'm sorry,^_^, what i mean is the covariance matrix calculation of a single set of points in R3,  that means
ps2=NULL, ts=NULL, indices=NULL, then this function may be going like this
{
for(int i = 0; i < n; ++i)
{
const Vec3f& p = (indices) ? ps[indices[i]] : ps[i];
S1 += p;
S2[0][0] += (p[0] * p[0]);
S2[1][1] += (p[1] * p[1]);
S2[2][2] += (p[2] * p[2]);
S2[0][1] += (p[0] * p[1]);
S2[0][2] += (p[

[2018-03-16 16:16] SeanCurtis-TRI commented on #268
Ah, I see what you mean. There are a number of possibilities. To help answer your question, could you include the data, the matlab operations you're doing and the results you get in both cases?

[2018-03-16 17:39] betterfan commented on #268
yeah, you give a clear explanation, it's really a missing n_points，i have thought  there are some  tricks in the code, haha...^-^ @jmirabel ,do you think so? @SeanCurtis-TRI

[2018-03-16 17:53] jmirabel commented on #268
@betterfan If I remember well, the covariance is used to find the principal axes to:
- orient a bounding box of a mesh,
- know on which axis to cut it.
I do not think the (potentially) missing `n` matters for that purpose. Did you have problems with it ?

[2018-03-17 02:37] betterfan commented on #268
actually, it doesn't matter the purpose you mentioned, but the result is not a covariance matrix according  to the definition, and why not multiply by n_points, like  this
M(0, 0) = S2[0][0] * n_points- S1[0]*S1[0];

[2018-03-17 02:46] betterfan commented on #268
@jmirabel actually, it doesn't matter the purpose you mentioned , but the result is not a covariance matrix according to the definition, and why not multiply by n_points, like this
`M(0, 0) = S2[0][0] * n_points- S1[0]*S1[0];`

[2018-03-18 18:36] jmirabel commented on #268
If you have some time, it would be great if you could:
1. check with your matlab code that the error comes from the missing division by `n_points` (BTW, you should divide by `n_points`, not multiply),
2. provide the data, matlab operations and results you get, as @SeanCurtis-TRI mentionned,
4. propose a PR that cleans the code of the function and adds some useful comments.

[2018-03-27 08:57] geoynomous opened #272 "Vector3 setIdentity"
Eigen's _setIdentity_ on Vector3 creates (1,0,0)^T - see the output of this code

[code]

I grepped through the code and it seems to not be used - but maybe someone can cross-check. It's just very counter-intuitive (on Vector, though Eigen sees it as a 3x1 matrix)

[2018-03-27 09:24] jmirabel commented on #272
I guess you are mixing `setIdentity` and `setOnes`. `setIdentity` refers to the identity element of the NxN matrix product operation. A space of non-square matrices is not a group so there is no identity matrix.

[2018-03-27 12:20] geoynomous commented on #272
@jmirabel thanks for the reply ... no that I got. I was more concerned that Eigen allows to `setIdentity` on the non-square Matrix (aka a Vector here). The confusion was wrt to the _neutral_ element of the vectors: There is `setZero` for the neutral element of addition. But it seems that Eigen does not model that ... anyhow - it's more a side remark.

[2018-03-27 12:20] #272 closed

[2018-03-27 16:41] sherm1 commented on #265
@mamoll reported this in #271:

[2018-03-28 05:53] ericberberich commented on #265
I have seen `test_fcl_capsule_box_1` here on Xcode 9.x - it's the gjksolver instantiated with libccd that produces the wrong result .... the TravisCI for Linux uses `libccd 1.5` - so I downgraded to it - but it still appears ... I will have another look into it - any idea which direction to search?

[2018-03-28 11:53] mamoll commented on #265
Note that MacPorts installs libccd with double precision by default (`-DCCD_DOUBLE=true`). Maybe TravisCI has libccd with single precision installed and that's what's causing the failure?

[2018-03-28 12:38] jslee02 commented on #265
FYI, [Travis CI installs `libccd` using Homebrew](https://github.com/flexible-collision-library/fcl/blob/master/ci/install_osx.sh#L6), and [Homebrew installs `libccd` with double precision by default](https://github.com/Homebrew/homebrew-core/blame/master/Formula/libccd.rb#L18).

[2018-03-28 12:40] geoynomous commented on #265
So `libccd` is always with double precision in all your TravisCI setups?

[2018-03-30 16:26] zlittlefield opened #274 "Using Primitive Shapes for Collision Checking Slower than Triangle Soup?"
Hi everyone,

I have been working on integrating FCL with my lab's code for quite a while and have come across odd behavior that I'm hoping someone may be able to help me out with.

I have setup a pipeline of code that creates collision managers that use the DynamicAABB broadphase checker, and I have assigned collision objects to these groups. Then, during runtime, I am updating the transforms for

[2018-04-04 17:27] pierrefranklin opened #275 "Incorrect nearest points when using distance(...)"
I get incorrect nearest points when I use the following code:
[code]
The output of the executable is
[code]
This is copied almost verbatim from the tests, specifically the test_distance_spheresphere(...) function in [test_fcl_signed_distance](https://github.com/flexible-collision-library/fcl/blob/2b0f911841d7c116c8ac076b50b1992eb3dab22a/test/test_fcl_signed_distance.cpp#L49). The only difference i

[2018-04-05 04:18] balakumar-s commented on #127
Has this been fixed? When using box primitive, nearest point is the closest vertex of the box which is not accurate.

[2018-04-06 16:38] pbeeson opened #276 "No way to set a safety margin/padding?"
We have used FCL in robotics applications for a while, and it seems like there is no way to add a "margin" (in Bullet parlance) or "padding" when creating a Collision Object.   We have been artificially doing this by messing with meshes, but that presumes mesh normals are well formed, etc.  The correct way (and the way Bullet does it) is to handle this at the triangle/primitive comparison level.

[2018-04-06 20:07] dilevin commented on #263
Hi,

I was wondering if there was any progress in fixing this. I've spent some time poking around but I'm not an FCL expert and didn't make any progress. Any advice as to how to work around this at least ?

Thanks!

[2018-04-09 10:14] daniglezad commented on #226
I just wanna add that one should do what @traversaro has mentioned in the CMakeLists.txt located at the main folder ~/fcl after having done :

`$ cmake ..`

 Then, the instruction is:

`set(CMAKE_POSITION_INDEPENDENT_CODE ON)`
or
`option(FCL_STATIC_LIBRARY "Whether the FCL library should be static rather than shared" ON)`

Someone please correct me if I am wrong.

Another thing I would like to ask

[2018-04-09 11:03] traversaro commented on #226
Hi @daniglezad ,
  I am afraid I was not clear in my previous post.

The two options are either:
* Recompile **ccd** as a static library with PIC (by setting [`CMAKE_POSITION_INDEPENDENT_CODE`](https://cmake.org/cmake/help/v3.9/variable/CMAKE_POSITION_INDEPENDENT_CODE.html#variable:CMAKE_POSITION_INDEPENDENT_CODE) to ON in the **ccd** CMake configuration) or compile **ccd** as shared library by se

[2018-04-09 13:17] daniglezad commented on #226
@traversaro I had installed libccd via MakeFile.
Now I tried via CMake and it has not complained about anything.

[2018-04-09 13:33] daniglezad commented on #226
Nevertheless, what I posted in my first message **made it compile**.

I am now facing problems making FCL work with ROS, I am opening another issue for this.

[2018-04-12 17:28] SeanCurtis-TRI opened #278 "Solver tolerances do *not* scale with scalar precision"
Problem
=======
The solvers [`GJKSolver_libccd`](https://github.com/flexible-collision-library/fcl/blob/master/include/fcl/narrowphase/detail/gjk_solver_libccd-inl.h#L905) and [`GJKSolver_indep`](https://github.com/flexible-collision-library/fcl/blob/master/include/fcl/narrowphase/detail/gjk_solver_indep-inl.h#L951) use tolerances for the GJK and EPA algorithms to determine when the iterative algo

[2018-04-12 17:31] sherm1 commented on #278
:+1:

Quick survey: are people still using FCL in float precision?

[2018-04-12 17:53] SeanCurtis-TRI opened #280 "CollisionRequest cannot set solver tolerances"
Problem
=======
The [`CollisionRequest`](https://github.com/flexible-collision-library/fcl/blob/master/include/fcl/narrowphase/collision_request.h#L78) class does not contain any fields for setting the GJK solver tolerances as part of the request. In contrast, the [`DistanceRequest`](https://github.com/flexible-collision-library/fcl/blob/master/include/fcl/narrowphase/distance_request.h#L109) *doe

[2018-04-13 15:49] SeanCurtis-TRI opened #281 "Defining collision w.r.t. osculating surfaces"
Fundamental question
=================
If two surfaces are perfectly touching (i.e. zero distance and zero penetration), are they "colliding"?

Example
=======
There is a [unit test](https://github.com/flexible-collision-library/fcl/blob/master/test/test_fcl_geometric_shapes.cpp#L4262) which places a sphere and box in perfect osculation. The sphere is centered at the origin and the box is displace

[2018-04-13 16:10] sherm1 commented on #281
Argument for why "kissing" contact (exactly 0 penetration) _should_ be considered a "collision":
- A common use for FCL geometry is to track contact in simulation
- Contact is often modeled as fully-rigid objects constrained not to interpenetrate
- When that constraint is enforced perfectly, the penetration is held exactly at zero
- Thus the contact model needs to generate non-zero forces at zero

[2018-04-13 16:37] SeanCurtis-TRI opened #282 "Rein in members of type `S`"
In moving into Eigen-compatibility, it seems that former floating-point values were all moved to scalar type `S`. As a simple way forward, it's a logical thing to do. However, not all values *benefit* from this migration. Take, for example, testing tolerances.

[code]

It seems to make perfect sense when we think of `S` as `float` or `double`. But when `S` is `AutoDiffScalar<Matrix<double, 3, 1>>`

[2018-04-13 18:40] jmirabel commented on #282
This could default to `Eigen::NumTraits<S>::Literal`.

[2018-04-13 19:59] sherm1 commented on #282
`NumTraits::Literal` looks really good -- does it work for AutoDiffs too?

I also noticed in NumTraits this handy epsilon definition, which might remove one of the template classes you needed, @SeanCurtis-TRI:

However, it returns a Real rather than a Literal so maybe that indicates the Eigen people think that is better for some reason (or maybe there is no meaningful distinction between the two?)

[2018-04-13 20:13] SeanCurtis-TRI commented on #281
@jmirabel I like your suggestion. It should give us a basis to reasonably expect results based on thresholds and configuration. That gets my vote as well.

[2018-04-13 20:38] sherm1 commented on #281
I would want to make sure we're not just punting a hard decision from people who have thought about it a lot to people who haven't! It would certainly be useful to be able to specify a non-zero margin to make collision query report on near objects as well as contacting ones. That's not a tolerance in the algorithmic sense though. And the margin would have to be known to the broad phase as well to

[2018-04-13 21:38] SeanCurtis-TRI commented on #281
One thought to consider -- if the algorithm converges to defining osculation as *not* colliding (as the tolerance levels get tighter), then, at the very least, we should consider that the current implementation implies that osculation != collision and it should be documented and supported in tests.

The next question being whether that behavior is *correct* can then be dealt with in a subsequent e

[2018-04-14 10:39] jmirabel commented on #282
It seems: https://bitbucket.org/eigen/eigen/src/195d58bf6c8ee8331d3bfcda32ca8b811507d3b3/unsupported/Eigen/src/AutoDiff/AutoDiffScalar.h?at=default&fileviewer=file-view-default#AutoDiffScalar.h-678

[2018-04-16 15:31] sherm1 commented on #127
/cc @SeanCurtis-TRI Do you know if this is fixed?

[2018-04-16 15:34] SeanCurtis-TRI commented on #127
Sadly, I haven't spelunked into the distance query yet, so I have no certain knowledge one way or the other.

[2018-04-16 16:52] SeanCurtis-TRI commented on #281
@jmirabel in retrospect, I'm taking my vote back.

Ultimately, FCL should provide a *signed distance* value `φ` between two geometries (to within some user-specified tolerance). The interpretation of that distance should be left as a user function on `φ`.

The definition of two objects "colliding" is simply syntactic sugar on top of that. We've taken the domain of `φ` and said this function, `coll

[2018-04-16 17:31] jmirabel commented on #281
From a theoretical point of view, yes. From a computer scientist point of view, the difference can be up to 8 times faster... The question is to know whether you can have a richer answer than a boolean for the same cost.

Will `φ <= 0` or `φ < 0` make much difference with floating-point number ? I would say that in case `φ==0`, `collide` is sufficiently bad conditioned to be avoided and `distance`

[2018-04-16 17:46] SeanCurtis-TRI commented on #281
I *completely* agree with what you're saying.

The `collide()` method is all about exploiting the fact that we're cutting down the domain of `φ` to our computational benefit.

So, my final proposal is that we *document*  and have supporting tests for the current behavior: that collisions are defined as `φ < 0`. If we deem later that we want the missing equals sign, then we dig through the internal

[2018-04-17 18:40] SeanCurtis-TRI commented on #282
This morning's tragic epiphany:

FCL is currently using Eigen 3.0.5. `NumTraits::Literal` is introduced in 3.3. So, for now, there's no `Literal` for us. We'll have to go with the stop gap.

[2018-04-17 18:49] #280 closed

[2018-04-17 19:04] SeanCurtis-TRI opened #285 "Investigate upgrading Eigen dependency"
Currently, fcl uses [Eigen 3.0.5](https://github.com/flexible-collision-library/fcl/blob/master/CMakeLists.txt#L113). We need to find out if upgrading to [current version (3.3)](https://bitbucket.org/eigen/eigen/branch/3.3) is viable and desirable. Certainly, it would give us access to `NumTraits<S>::Literal` (as discussed in #282).

[2018-04-18 07:26] jmirabel commented on #285
I didn't realize `Literal` was only available from a recent version of Eigen. I think it is a bad idea to depend on a recent version of Eigen as it prevents many people from using FCL. IMHO, the availability of `Literal` is not a good enough reason.

[2018-04-18 07:28] jmirabel commented on #285
Of course, it is a good idea to be *compatible* (but not *dependent*).

[2018-04-18 15:42] #278 closed

[2018-05-04 14:15] Tokrat opened #287 "Incompatibilty float / double"
Hi,
I am using your library in my application for a few days, all my previous computation were in float, but when I tried to use the library with float I had an error "mismatched types ..."

I found the problem:

in the file "include/fcl/narrowphase/detail/primitive_shape_algorithm/box_box-inl.h":

Line 396:

[code]

I changed the line by adding (S), from the template, because when I was using flo

[2018-05-22 23:16] hongkai-dai opened #289 "Duplicated code between GJKDistance and GJKSignedDistance"
The code in [`GJKSignedDistance`](https://github.com/flexible-collision-library/fcl/blob/master/include/fcl/narrowphase/detail/convexity_based_algorithm/gjk_libccd-inl.h#L1777~L1805) duplicates [`GJKDistance`](https://github.com/flexible-collision-library/fcl/blob/master/include/fcl/narrowphase/detail/convexity_based_algorithm/gjk_libccd-inl.h#L1743~L1772l), except for one slight difference.

The

[2018-05-23 16:54] SeanCurtis-TRI opened #291 "Mac CI using single-precision libccd"
It appears that the mac ci is using single-precision libccd.

#290 failed the new unit tests. Instead of getting solutions to a tolerance of 1e-14, it was getting results satisfied to within 1e-7. Furthermore, when evaluating the tests on a local mac with known double-precision libccd, these errors did not appear. But when forcing it to use single-precision libccd, the errors appeared.

[2018-05-28 08:54] tongtybj opened #293 "Nan value in the nearest points when using distance()"
While doing distance check for two boxes, I found ```nan``` values in the nearest points after using distance().
One of the sample is as follows, and two boxes do not collide.

[code]

Can someone help me to figure out the reason, or give me some hint about the algorithm of distance calculation between two boxes?

[2018-05-29 13:52] SeanCurtis-TRI commented on #293
Thanks for the detailed reproduction info. I'll look into this and get back to you.

[2018-05-29 18:58] tongtybj commented on #293
@SeanCurtis-TRI
Thank you for your response.

What I have found is that the [normal  ```n```](https://github.com/flexible-collision-library/fcl/blob/master/include/fcl/narrowphase/detail/convexity_based_algorithm/gjk_libccd-inl.h#L1124-L1125) is zero, whiling processing the function ```extractClosestPoints```, and this is caused since vector [```AB``` and ```AC```](https://github.com/flexible-coll

[2018-05-29 21:40] hongkai-dai opened #294 "Call specialized function for signed distance between primitives"
Currently when computing **signed** distance between primitives (like sphere-to-sphere), if we specify the solver as `GJKSolverType::GST_LIBCCD`, it calls the GJK solver. On the other hand, if we set `enable_signed_distance` to false, even if we still specify the same solver `GJKSolverType::GST_LIBCCD`, it knows to call the specialized primitive distance functions. We should make sure that in any

[2018-06-03 10:50] geoynomous opened #297 "Missing template instantiation of `conservativeAdvancement` for RSS/OBBRSS"
It uses the instantiation of with `const BVHModel<BV>&`,

but then this is used as node

  `MeshConservativeAdvancementTraversalNode<BV> node;`

and not

  `MeshConservativeAdvancementTraversalNodeRSS<BV> node;` or
   `MeshConservativeAdvancementTraversalNodeOBBRSS<BV> node;`

The two later one works thread-safe while the previous one does not as its `initialize` refits the tree.

[2018-06-03 23:08] hongkai-dai opened #301 "Distance computed in EPA incorrectly uses an un-normalized vector"
In EPA algorithm, as outlined in section 2.5 of "Real-time collision detection with implicit objects" by Leif Olvang, in each iteration, we do the following

1. Find the closest point on the polytope, denote the point as vᵢ
2. Compute the support of the Minkowski sum A⊖B along the direction as wᵢ = S(vᵢ).
3. Compute the upper bound of the distance as μᵢ ← min(μᵢ, wᵢᵀvᵢ/|vᵢ|)
4. If the difference b

[2018-06-04 10:47] geoynomous opened #303 "cmake 3.11 adds "new line" warning"
[code]

Needs a fix in the `FCLMacros.cmake` as now these two lines are `CMakeCache.txt`

[code]

[2018-06-04 15:21] #289 closed

[2018-06-11 17:06] SeanCurtis-TRI opened #306 "Add kcov to Travis CI"
We'd like to add a CI test that tests for non-regressing test coverage (see https://github.com/oxfordcontrol/osqp as an example).

The idea is that it gets initialized with the current test coverage. Each PR is required to make test coverage *no worse*. This should help whittle away at missing unit tests.

[2018-06-15 13:27] betterfan opened #307 "BVH_MODEL_POINTCLOUD does't work!!!"
Is there anything wrong? Anyone can clarify it? thx :)
`
	pcl::PointCloud<pcl::PointXYZ>::Ptr cloud(new pcl::PointCloud<pcl::PointXYZ>);
	pcl::io::loadPLYFile<pcl::PointXYZ>("F:/data/bunny/data/bun000.ply", *cloud);
        std::vector<Vec3f> p1;
	for (int i = 0; i < cloud->points.size(); ++i)
	{
		p1.push_back(Vec3f(cloud->points[i].x, cloud->points[i].y, cloud->points[i].z));
	}
        BVHModel

[2018-06-19 04:49] #293 closed

[2018-06-19 14:06] pbeeson commented on #276
I'm willing to try to spend some of my own time/money to work on this, but it would be nice if some FCL developer/maintainer at least gave me some response to the questions above before I set out on this journey.

[2018-06-19 14:15] wxmerkt commented on #276
@pbeeson We used the ``geometric_shapes`` scale and padding functions to achieve the same purpose before constructing the OBB model.

[2018-06-19 14:22] pbeeson commented on #276
This doesn't really work properly though.  The geometric_shapes package "pads" from the origin of a mesh.  If you have, let's say a bin, it will move the outer walls of the bin away from the center of the bin, but it also moves the inner walls away from the bin.  What you want is something more like a "dilate" function. https://github.com/ros-planning/geometric_shapes/issues/76

The other issue is

[2018-06-27 19:46] wxmerkt commented on #120
I can confirm this - in my recent tests it depends on what type of geometry you have - for ``OT_GEOM`` I can use conservative advancement, with ``OT_BVH`` only ``CCDC_NAIVE`` works.

[2018-06-29 18:07] mmatl commented on #70
@jf--- thanks for all of your initial work on the python wrappers -- they've been incredibly helpful! I've just cleaned the wrappers up a bit and added more functionality. If you'd like to merge my changes back into your repo at some point and maybe get this more visibility on the FCL github repo/documentation, let me know. Happy to assist.

[2018-07-05 21:27] dendicott-jpl opened #310 "Raycasting?"
Is there any recommended way to go about checking for collision along a line? I'm implementing FCL as an alternative to bullet and need to provide the same functionality. I'm considering using a very long and thin cylinder, but wanted to check before using a hacky solution.

[2018-07-05 22:22] sherm1 commented on #310
We need FCL raycasting at TRI also!

[2018-07-06 21:30] amcastro-tri commented on #301
Was this issue resolved with #305 @hongkai-dai?

[2018-07-06 21:51] hongkai-dai commented on #301
Resolved by #305

[2018-07-06 21:51] #301 closed

[2018-07-06 22:06] hongkai-dai commented on #275
I believe now the error should be fixed after #305. I ran your test, and here is the result
[code]

[2018-07-10 16:41] hongkai-dai commented on #244
The EPA implementation using LIBCCD solver is almost completely rewritten, after #305 #296 #290. They are still using LIBCCD data structures, but the implementation is updated, with unit tests added. I believe we can close this issue.

There are still some TODOs left for the EPA implementation. For example, when some simplex/polytope is degenerate, the algorithm might return wrong result. I observ

[2018-07-11 06:57] nicovanduijn opened #312 "Proper unit testing for BVHModel generation from geometric primitives"
Following the discussions in #308, we found that there is no adequate unit testing for the `generateBVHModel()` functions.

Tests needed:
- Check for geometric correctness
- Check for correct tessellation
- Check fault handling for corner cases (radii equal to zero, n=0 etc...)
- Anything else some knowledgeable person here might know about

A naiive attempt testing just the number of vertices and

[2018-07-11 12:29] wxmerkt opened #313 "Segmentation fault in INDEP's GJK / distance implementation"
We run a lot of distance queries using ``fcl::distance`` where both ``o1`` and ``o2`` are primitive shapes (``OT_GEOM``). Very frequently (every few minutes), we receive a segmentation fault when using ``GST_INDEP`` (not for ``GST_LIBCCD``):

[code]

Unfortunately, I do _not_ have a working reproduction use case yet, although, this happens frequently enough to open this issue to document it - in c

[2018-07-17 16:01] SeanCurtis-TRI commented on #307
Could you also include the problem you're encountering? Compiler error?  Runtime error?

[2018-07-17 16:07] SeanCurtis-TRI commented on #276
Even for well-formed convex meshes, it wouldn't really work. Vertices that are more distant from the origin would get moved more than vertices close to the origin. It would only really work if you were "padding" a tesselated sphere. Everything else will be wrong (to varying degrees).

Ultimately, you want to perform queries on an offset surface. Essentially, the Minkowski sum of the original geome

[2018-07-24 14:35] gilmoujw opened #315 "Is performing collision detection against large OctoMaps inefficient? If so, what is the suggested alternative?"
Hello, I am planning on representing the environment in my robotics application as an Octomap, which FCL appears to support. As per `test/test_fcl_octomap_collision.cpp`, I can see that an Octomap can be directly converted to a collision object using:
`CollisionObject<S> tree_obj((std::shared_ptr<CollisionGeometry<S>>(tree)))`

However, it seems that this would be highly inefficient if I just want

[2018-07-25 16:32] SeanCurtis-TRI opened #317 "Inverting Transform<S> without extra work"
The `fcl::Transform` type is an [alias for the `Eigen::Transform` with the `Eigen::AffineCompact`](https://github.com/flexible-collision-library/fcl/blob/master/include/fcl/common/types.h#L89). When calling `inverse()` on that method, the `Affine` designation requires that the `linear()` portion have its inverse [computed explicitly](https://bitbucket.org/eigen/eigen/src/0b88199f5b4a7cf10f19855dec

[2018-07-25 17:12] amcastro-tri commented on #317
why not changing the using to `Eigen::Transform<Scalar, 3, Eigen::Isometry>;`? any reason to have the `AffineCompact`? is that even used anywhere?

[2018-07-25 17:20] sherm1 commented on #317
I wonder if it would make more sense to convert FCL to use Isometry exclusively for its transforms. Does it every use them for anything but rigid transformations?

[2018-07-25 17:21] sherm1 commented on #317
(Oh, didn't see @amcastro-tri's comment -- yes, :+1:)

[2018-07-25 18:14] jslee02 commented on #317
When I write this type alias, I considered following aspects ([similar consideration in DART](https://github.com/dartsim/dart/issues/767#issue-173627954)):

- `AffineCompact` uses lesser memory than `Isometry` because it doesn't explicitly store the 4th row, which is always `[0 0 0 1]`.
- The rigid transformation is still available by `X_AB.inverse(Eigen::Isometry)` anyway. Also, this is can be sp

[2018-07-25 18:25] sherm1 commented on #317
(Hi, JS!) We used Isometry exclusively in Drake for a long time. I don't think the extra memory mattered since we don't typically store a large number of transforms, and Eigen is good about ignoring the last row in Isometry operations.

(That said, we are actually switching to a custom RigidTransform class mainly to provide a better API and considerably better error detection and reporting. But I

[2018-07-25 19:10] amcastro-tri commented on #317
So if we re-define the `fcl::Transform` alias, do we get CI hell or it does fix our problems?
anybody volunteering to give that a try?

[2018-07-25 19:16] SeanCurtis-TRI commented on #317
I'll try changing to Isometry and see what it does to the tests. If it's easy, then we can go with it. If causes lots to blow up, we'll have to evaluate more carefully.

One thing I noted is that in cases where I ran head first into it, the `inverse()` computed was *not* the transpose, which suggests there's an issue on how orthonormal ostensibly orthonormal matrices actually are.

[2018-07-25 20:47] gilmoujw commented on #315
Hi Simon,
As the range containing data alone will be quite large, I think I would be dealing with that <100ms a whole lot. I think I will move to internally representing obstacles as basic shapes, with the more complex ones being represented individually by a mesh, rather than having this all-encompassing octomap. Thank you for your help!

[2018-07-26 08:56] simonschmeisser commented on #315
If you have the required information that should definitely be faster. Octomap is mainly meant to be used with cameras or scanners where you don't know anything about the environment.

[2018-07-28 15:51] Levi-Armstrong commented on #179
I was getting the same error but if you clone the libccd repository and build with double precisions the error goes away.

[2018-07-28 16:11] wxmerkt opened #319 "libccd EPA expandPolytope: "this should not happen""
As noted in https://github.com/flexible-collision-library/fcl/pull/305#discussion_r205945024, I have encountered the "should not happen" logic error:
[code]

Here are details on how to reproduce:

- ``fcl::distance`` call between a box (o1, GEOM_BOX) and a cylinder (o2, GEOM_CYLINDER).
- The box dimensions are: ``.05 0.39 1.47``
- The cylinder dimensions are: ``length=0.18, radius=0.18``
- The box

[2018-07-29 03:45] Levi-Armstrong opened #320 "Help understanding the convex shape type?"
I needing help understanding what is the correct format of the data when using the convex shape type.

It requires:
- plane normals
- plane distances
- number of planes
- points
- number of points
- polygons

I have a few questions.

1. Is there documentation or examples related to this shape type?
1. Should the plane normals point inward or outward?
1. Does having duplicate points cause issues?
1

[2018-07-30 20:27] SeanCurtis-TRI commented on #319
FTR This is using `double` as the scalar?

[2018-07-30 23:39] wxmerkt commented on #319
For FCL and our own code, yes. For libccd it is using the 16.04 system-provided ``libccd2``/``libccd-dev`` package.

[2018-08-02 02:39] Levi-Armstrong opened #322 "Getting assert failure on isOutsidePolytopeFace box to convex hull mesh (sphere)"
Setup:

- Have a 1m x 1m x 1m box located at <0.0, 0.0, 0.0>
  - defined using fcl::boxd type
- Convex hull of meshed sphere [sphere128.stl.txt](https://github.com/flexible-collision-library/fcl/files/2251842/sphere128.stl.txt) located at <0.2, 0.0, 0.0>
  - defined using fcl::convexd type

When checking these two shapes I am recieving an assert failure in gjk_libccd-inl.h

**Assert**
[code]

**Fu

[2018-08-02 03:35] Levi-Armstrong commented on #322
The previous example was ran against a convex hull sphere with 128 triangles where I just ran it against a convex hull sphere 1028 triangles. In debug it still fails at the assert but it does produce the correct answer. Now thinking back I did some looking into this a while back I found that when two objects are in collision the nearest point returned is the closest vertex which explains why I am

[2018-08-02 04:02] Levi-Armstrong commented on #276
I believe @pbeeson mention expanding just the AABB to reduce unnecessary check as alternative compromise.  In bullet they do this through setting the contact process threshold and it should not be to hard to accomplish something very similar in FCL. One could add a new method `setContactThreshold(S expand)` to the CollisionObject class. This constant would be used in the computAABB which would exp

[2018-08-02 04:10] curds01 commented on #322
We'll have to take a look into this. Right here and now, I have no easy means of looking at the sphere. So, without being to examine it, I have to rely on questions:

1. If I infer things correctly from the data you've given, the sphere has radius 0.25, right? So, there sphere is *completely* contained in the box, yes?
2. Does the 128-triangle version actually have the vertex that most deeply pene

[2018-08-02 04:26] curds01 commented on #322
Ok, I've cheated and cracked open the linked stl file. The 128 triangles are based on 66 vertices. As geodesic spheres go, it doesn't seem overly spherical. I would expect all vertices to be equidistant from the origin. However, what I observe is that the vertices are bound by a bounding box from `[-0.2525   -0.252393 -0.246258]` to `[ 0.252721  0.253174  0.244274]`.  Furthermore, the radius sugge

[2018-08-02 04:28] SeanCurtis-TRI commented on #322
All of those comments are actually mine -- I can't keep my github accounts straight when I'm home.

[2018-08-02 04:37] SeanCurtis-TRI commented on #276
Vague brain dump as I head to bed...

Simply expanding the AABB nodes *would* cause leaves of the BVTT to be considered that *might* not be considered without the padding, however, once the broadphase creates a candidate pair, you'll still be colliding against non-expanded geometry and the straight-forward query would end up saying they don't collide.

One simple option is to always just perform a

[2018-08-02 21:07] SeanCurtis-TRI opened #323 "Eigen3 versions, ubuntu versions, etc."
Travis CI is configured to run against Ubuntu 14.04 (aka `trusty`) and, as such, installs the default build of Eigen3 associated with that build. That build is version 3.2.0. Eigen3 has shown improvements from 3.2.0 to 3.2.92 (known as 3.3-beta1 -- and the default for 16.06 `xenial`). Specifically, there are some specific cases in which advancing the minor version produces [*more accurate answers*

[2018-08-02 21:10] SeanCurtis-TRI commented on #320
These are good questions and presage my own archaeology into that domain. Given issues you've created since this issue (#322) it seems you have some answers to these questions. It would be grand if you could capture the answers you've discovered.

Ideally, it would be grand if you could doxygen it up and submit a PR. Failing that, documenting the answers here so that someone else can PR it into do

[2018-08-02 21:12] SeanCurtis-TRI commented on #322
@hongkai-dai This is related to your EPA changes -- an assertion is failing and we'll want to investigate why. Do you want to do this or shall I put it on my plate?

[2018-08-02 22:11] hongkai-dai commented on #322
@SeanCurtis-TRI if you have time, could you look into it? I don't think I have time to look into it until Saturday.

[2018-08-03 14:36] SeanCurtis-TRI commented on #322
#288 seems to be crazy. It's so out of date that it isn't compatible with master. I did a local rebase and find I have failing tests. I'm going to address that first and then I'll look at this particular assertion error.

[2018-08-03 17:05] Levi-Armstrong commented on #320
Sure,

I will create a PR to document along with tests related to convex shapes once issue #322 is resolved. I currently have several tests but they depend on ROS packages for importing the stl. Does FCL contain any utilities for reading mesh files, if not I will just update the test to create a sphere mesh opposed to importing from file?

- Is there documentation or examples related to this shape

[2018-08-03 20:03] SeanCurtis-TRI commented on #322
@Levi-Armstrong, I've submitted a quick PR to help diagnose your problem. There was a TODO in the code that I felt had a reasonable probability of being your problem. This will help confirm the diagnosis. If you (at least temporarily) merge this into your branch and run in debug mode, let me know what error message you get. I hope/expect you to get a *different* failure complaining about zero-area

[2018-08-04 03:11] #317 closed

[2018-08-05 03:35] SeanCurtis-TRI commented on #320
In cleaning up a stale PR I ended up doing *some* of this. Take a look at #325.

[2018-08-07 18:06] SeanCurtis-TRI commented on #192
Given the long duration between unanswered question and now, I'm assuming that the issue has already been resolved by the user or is no longer relevant. If I'm mistaken, feel free to open the issue back up.

[2018-08-07 18:06] #192 closed

[2018-08-07 18:41] SeanCurtis-TRI opened #326 "Convex geometry clean up"
Perusing the [`Convex`](https://github.com/flexible-collision-library/fcl/blob/master/include/fcl/geometry/shape/convex.h) geometry implementation, several issues jump out:

1. The class has several unused members. They aren't used in the class's internal implementation and, it likewise appears, are not directly referenced (as public members). They should be removed from the class API.
    - `plan

[2018-08-07 18:56] SeanCurtis-TRI commented on #326
@jslee02 Do you know any reason why I can't pull the trigger on modifying the API of the `Convex` type?

[2018-08-07 19:37] jslee02 commented on #326
@SeanCurtis-TRI Nope. I think your points are all valid. Looking at the history, `Convex` class was added in the very beginning of FCL (7 years ago), and there hasn't been any significant improvement made. It's time to move on!

As a note, one of my personal reasons I haven't taken a look at this class is that I believed there is no performance advantage of using `Convex` over the BVH representati

[2018-08-07 20:17] SeanCurtis-TRI commented on #326
Hi @jslee02 Thanks for weighing in.

I know what you mean about the support function for `Convex`. In its current incarnation, it does a linear pass over all vertices, period. However, that *can* be sped up and, I believe, probably should be. Here are the things to consider.

1. The one thing the `Convex` class gives us (in conjunction with GJK/MPR) is that it will detect if one convex shape is co

[2018-08-07 23:07] SeanCurtis-TRI opened #327 "CollisionGeometry::computeMOmentofInertiaRelatedToCOM"
The [CollisionGeometry::computeMOmentofInertiaRelatedToCOM](https://github.com/flexible-collision-library/fcl/blob/master/include/fcl/geometry/collision_geometry-inl.h#L142) is naively implemented. It explicitly calls the virtual methods to compute moment of inertia, center of mass, and volume. For simple primitive shapes where these quantities are O(1) operations that's not bad. But for meshes th

[2018-08-08 04:03] sherm1 commented on #327
Great idea!

[2018-08-08 14:29] SeanCurtis-TRI commented on #326
@jslee02 Quick question, I've added one more point above (about data ownership). The `Convex` class doesn't own the data it is provided; it's simply given pointers. Do you have any insight into that design decision? While I can imagine a case where the `Convex` class could simply be an abstraction on top of some other data, I would imagine the default case is that it is a stand-alone entity with i

[2018-08-08 18:31] SeanCurtis-TRI commented on #326
Great. A shared_ptr for the data would definitely resolve those issues. That would make it so that no external entity has to keep track of the `Convex`'s geometry but would allow the same geometry to be used by multiple `Convex` instances. And I was thinking of a `std::shared_ptr<std::vector<Thing>>` just to modernize things a bit.

[2018-08-14 13:34] #248 closed

[2018-08-14 17:53] SeanCurtis-TRI commented on #320
I'm going to close this based on the update in #325. If there are outstanding issues, we can open a new issue.

[2018-08-14 17:53] #320 closed

[2018-08-15 21:03] wxmerkt commented on #171
I believe this has been resolved by https://github.com/flexible-collision-library/fcl/pull/288 - can this be closed @SeanCurtis-TRI?

[2018-08-15 22:03] SeanCurtis-TRI commented on #171
Yep. I believe we can close this. FTR I want to give @Levi-Armstrong the credit for the work. I just polished and helped resolve CI issues.

[2018-08-15 22:05] wxmerkt commented on #171
From a quick test, I am unclear whether these fixes also include primitive-vs-mesh distance queries - which for me report some odd values still (I have a primitive sphere with radius one centred at -1.5 and a BVH sphere with radius one centred at 1.5 - i.e., the closest points should be -0.5 and 0.5 respectively, however, it reports -1 and 1 -- the 1m distance is _correct_ though). I saw the in-co

[2018-08-15 23:14] wxmerkt commented on #171
Actually, I found two very clear (and odd) case of where this is not fixed (with libccd):

1. If ``o1`` is an ``OT_GEOM`` and ``o2`` is an ``OT_BVH``, the ``nearest_points`` are returned in the local frame and in the wrong order (i.e. swapped).
2. If ``o1`` is an ``OT_BVH`` and ``o2`` is an ``OT_GEOM``, the ``nearest_points`` are returned in the local frame (but are in the correct order).

cc: @Se

[2018-08-16 03:30] SeanCurtis-TRI commented on #171
@wxmerkt Good catch. I hadn't done the full search for all permutations. And would this relate to your observed issue? Were you spheres tesselated meshes (or one of them)? Certainly, if they were both primitives, your result would *really* surprise me in light of the [tests in this file](https://github.com/flexible-collision-library/fcl/blob/master/test/test_fcl_sphere_sphere.cpp).

[2018-08-16 03:31] SeanCurtis-TRI commented on #171
Oops...I just read your note and you explicitly called out primitive-mesh queries.  :)  That's what I get for skimming words and looking for numbers.

[2018-08-16 03:31] SeanCurtis-TRI commented on #171
So, commit #288 was correct as far as it went, but didn't go far enough. That's the issue.